.vaerelser_page {
}
.vaerelser_page .tertiary_slider_wrapper {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 80px;
  background-color: #f9f7f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .vaerelser_page .tertiary_slider_wrapper {
    padding-top: 100px;
    padding-left: 166px;
    padding-right: 166px;
    padding-bottom: 166px;
  }
}
