.contact_page {
}
.contact_page .s_image_primary {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .contact_page .s_image_primary {
    padding-top: 191px;
    padding-bottom: 191px;
  }
}

.s_contact {
  background-color: #f9f7f0;
  padding: 76px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact_detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  .c_subtitle {
    font-family: MartelSans;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #393939;
    margin-bottom: 16px;
  }
  .c_title {
    font-family: BegumSans;
    font-weight: 400;
    font-size: 31px;
    line-height: 37px;
    color: #393939;
    margin-bottom: 27px;
  }
  .c_address {
    font-family: MartelSans;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    color: #393939;
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
  }
  .c_address span {
  }
  .c_address p {
  }

  .c_list {
    display: flex;
    flex-direction: column;
  }
  .c_list .c_item {
    font-family: MartelSans;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    margin: 1px 0;
    color: #393939;
    display: flex;
    flex-direction: row;
  }
  .c_list .c_item span {
  }
  .c_list .c_item span:nth-child(2) {
  }
}

.contact_form {
  padding: 68px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  .c_input {
    border-bottom: 1px solid #393939;
    position: relative;
    margin-bottom: 38px;
    width: 100%;
    max-width: 710px;
    input,
    textarea {
      padding-top: 25px;
      line-height: 19px;
      border: none;
      width: 100%;
    }
    label {
      font-family: MartelSans;
      font-weight: 600;
      font-size: 14px;
      color: #393939;
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out 0.2s;
      bottom: 26px;
    }
    input:focus ~ label {
      bottom: 46px;
    }
    textarea:focus ~ label {
      bottom: 100%;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }

  .c_btn {
    display: flex;
    justify-content: flex-start;
    margin-top: 11px;
    button {
    }
  }
}

@media screen and (min-width: 1024px) {
  .s_contact {
    padding: 162px 141px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact_detail {
    width: 50%;
    .c_subtitle {
      font-size: 20px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    .c_title {
      font-size: 53px;
      line-height: 63px;
      margin-bottom: 36px;
    }
    .c_address {
      font-size: 22px;
      line-height: 39px;
      margin-bottom: 36px;
    }
    .c_address span {
    }
    .c_address p {
    }
    .c_list .c_item {
      font-size: 22px;
      line-height: 39px;
      margin: 1px 0;
    }
    .c_list .c_item span {
    }
    .c_list .c_item span:nth-child(2) {
    }
  }

  .contact_form {
    width: 50%;
    padding-top: 115px;

    .c_input {
      margin-bottom: 32px;
      input,
      textarea {
        padding-top: 25px;
        line-height: 19px;
        border: none;
      }
      label {
        font-size: 18px;
      }
      input:focus ~ label {
        bottom: 46px;
      }
      textarea:focus ~ label {
        bottom: 100%;
      }
      &:last-child {
        margin-bottom: 95px;
      }
    }

    .c_btn {
      display: flex;
      justify-content: flex-start;
      button {
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .s_contact {
    padding: 162px 180px;
  }
}
