// home_page
.home_page {
  height: 100%;
  width: 100%;
}

// oplev_page
.oplev_page {
}
.oplev_page .page_width:last-child .s_image_secondary {
  padding-bottom: 0;
}
.oplev_page .s_text_primary {
  padding-bottom: calc(94px + 1.33vw);
}

@media screen and (min-width: 992px) {
  .oplev_page .page_width:last-child .s_image_secondary {
    padding-bottom: calc(30px + 2vw);
  }
}

// badehotellet_page
.badehotellet_page {
}
.badehotellet_page .s_text_primary {
  text-align: left;
}
.badehotellet_page .secondary_slider {
  width: 100%;
  margin-bottom: 0;
  z-index: 1;
  position: relative;
}
.badehotellet_page .secondary_slider_sec_next {
  width: 100%;
  padding-top: 50px;
  background-color: #f9f7f0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .badehotellet_page .secondary_slider {
    margin-bottom: -218px;
  }
  .badehotellet_page .secondary_slider_sec_next {
    padding-top: 300px;
  }
}

// vaerelser_page
.vaerelser_page {
}
.vaerelser_page .tertiary_slider_wrapper {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.vaerelser_page .page_width:last-child {
  padding-bottom: 90px;
}

@media screen and (min-width: 1024px) {
  .vaerelser_page .s_image_primary {
    padding-bottom: 160px;
  }
  .vaerelser_page .tertiary_slider_wrapper {
    padding-top: 182px;
    padding-bottom: 102px;
  }
  .vaerelser_page .page_width:last-child {
    padding-bottom: 0;
  }
}

// midtugeophold_page
.midtugeophold_page {
}
.midtugeophold_page .s_banner_primary {
  height: auto;
}
.midtugeophold_page .banner_bg::after {
  display: none;
}
@media screen and (min-width: 1024px) {
  .midtugeophold_page .banner_bg::after {
    display: block;
  }
}

// bornholm_med_page
.bornholm_med_page {
}
.bornholm_med_page .s_banner_primary {
  display: none;
}
.bornholm_med_page .s_image_primary {
  flex-direction: column;
}
.bornholm_med_page .s_grid_primary .grid_detail {
  border-bottom: none;
}
.bornholm_med_page .s_grid_primary .grid_summary .sum_list {
  padding-top: 0;
}
.bornholm_med_page .s_image_primary {
  padding-bottom: 0;
}
.bornholm_med_page .s_image_primary .s_image {
  width: 100%;
  margin-left: -34px;
  margin-right: -34px;
  width: calc(100% + 68px);
  margin-top: -80px;
  margin-bottom: 40px;
  position: relative;
}
.bornholm_med_page .s_grid_primary .grid_detail {
  border-color: rgba(112, 112, 112, 0.56);
}

@media screen and (min-width: 768px) {
  .bornholm_med_page .s_banner_primary {
    display: block;
  }
  .bornholm_med_page .s_image_primary {
    flex-direction: column-reverse;
  }
  .bornholm_med_page .s_grid_primary .grid_detail {
    // border-bottom: 1px solid #393939;
  }
  .bornholm_med_page .s_grid_primary .grid_summary .sum_list {
    padding-top: 37px;
  }
  .bornholm_med_page .s_image_primary {
    padding-bottom: 0;
  }
  .bornholm_med_page .s_image_primary .s_image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 40px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .bornholm_med_page .s_image_primary {
    flex-direction: column;
  }
  .bornholm_med_page .s_grid_primary .grid_detail {
    border-bottom: none;
  }
  .bornholm_med_page .s_grid_primary .grid_summary .sum_list {
    padding-top: 0;
  }
  .bornholm_med_page .s_image_primary {
    padding-bottom: 0;
  }
  .bornholm_med_page .s_grid_primary.detail_right .grid_detail {
    padding-left: 82px;
    padding-top: 0;
  }
  .bornholm_med_page .s_grid_primary.detail_right .grid_summary {
    padding-top: 0;
  }
  .bornholm_med_page .s_image_primary .s_image_detail h3,
  .bornholm_med_page .s_image_primary .s_image_detail h1 {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .bornholm_med_page .s_grid_primary.detail_right .grid_detail {
    padding-left: 100px;
  }
}

// vaerelse_visning_page
.vaerelse_visning_page {
}

// policy_page
.policy_page {
}
