// section banner primary
.s_banner_primary {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.banner_bg {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner_bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.49);
}
.banner_img {
  width: 100%;
  height: 100%;
}
.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.banner_title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 62px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.loaded .banner_title {
  opacity: 1;
  transition-delay: 0.7s;
}
.banner_title h2 {
  font-family: BegumSans;
  font-size: 37px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .banner_bg::after {
    background-color: rgba(0, 0, 0, 0.33);
  }
  .banner_title {
    left: 110px;
    width: auto;
    padding: 0;
    text-align: left;
  }
  .banner_title h2 {
    font-size: 39px;
    line-height: 1.6;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .banner_title {
    left: 128px;
  }
  .banner_title h2 {
    font-size: 44px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1600px) {
  .banner_title {
    left: 183px;
  }
  .banner_title h2 {
    font-size: 63px;
    line-height: 1.4;
  }
}
