// section image primary
.s_image_primary {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 64px;
}
.s_image_primary .s_image {
  width: 100%;
}
.s_image_primary .s_image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.s_image_primary .s_image_detail {
  width: 100%;
  margin-bottom: 32px;
}
.s_image_primary .s_image_detail h3 {
  font-family: MartelSans;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #7b7564;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.s_image_primary .s_image_detail h1 {
  font-family: BegumSans;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #7b7564;
  text-transform: uppercase;
  margin-bottom: 42px;
  letter-spacing: 2px;
}
.s_image_primary .s_image_detail p {
  font-family: MartelSans;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #32322f;
  text-align: left;
  margin-bottom: 25px;
}
.s_image_primary .s_image_detail a {
  margin-bottom: 47px;
  width: 227px;
  height: 63px;
}
.s_image_primary .btn_group {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}
.s_image_primary .btn_group a {
  margin-bottom: 39px;
}

@media screen and (min-width: 1024px) {
  .s_image_primary {
    justify-content: space-between;
    align-items: center;
  }
  .s_image_primary.img_right {
    flex-direction: row-reverse;
  }
  .s_image_primary.img_left {
    flex-direction: row;
  }
  .s_image_primary.img_top {
    flex-direction: column;
    padding-bottom: 0;
  }
  .s_image_primary .s_image {
    width: 50%;
  }
  .s_image_primary .s_image_detail {
    width: 50%;
    padding-right: 54px;
  }
  .s_image_primary.img_left .s_image_detail {
    padding-left: 54px;
    padding-right: 0;
  }
  .s_image_primary.img_top .s_image,
  .s_image_primary.img_top .s_image_detail {
    width: 100%;
    margin-bottom: 50px;
  }
  .s_image_primary .s_image_detail h1 {
    font-size: 31px;
    line-height: 1.5;
    margin-bottom: 35px;
  }
  .s_image_primary .s_image_detail p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 27px;
  }
  .s_image_primary .s_image_detail a {
    margin-bottom: 44px;
    width: 190px;
    height: 56px;
  }
  .s_image_primary .btn_group a {
    margin-bottom: 36px;
    width: 278px;
    height: 67px;
  }
}

@media screen and (min-width: 1280px) {
  .s_image_primary.img_top {
    flex-direction: column;
  }
  .s_image_primary .s_image {
    width: 45%;
  }
  .s_image_primary .s_image_detail {
    width: 50%;
    padding-right: 70px;
    padding-top: 30px;
  }
  .s_image_primary.img_left .s_image_detail {
    padding-left: 70px;
  }

  .s_image_primary .s_image_detail h1 {
    font-size: 39px;
    line-height: 1.5;
    margin-bottom: 41px;
    letter-spacing: 3.5px;
  }
  .s_image_primary .s_image_detail p {
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 1.8;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1600px) {
  .s_image_primary.img_top {
    flex-direction: column;
  }
  .s_image_primary .s_image {
    width: 50%;
  }
  .s_image_primary .s_image_detail {
    width: 50%;
    padding-right: 100px;
  }
  .s_image_primary.img_left .s_image_detail {
    padding-left: 100px;
  }
  .s_image_primary .s_image_detail h1 {
    font-size: 53px;
    line-height: 78px;
    margin-bottom: 68px;
  }
  .s_image_primary .s_image_detail p {
    font-size: 19px;
    line-height: 34px;
    margin-bottom: 46px;
  }
  .s_image_primary .s_image_detail a {
    margin-bottom: 53px;
    width: 260px;
    height: 77px;
  }
}

// section image secondary
.s_image_secondary {
  padding-bottom: 60px;
}
.s_image_secondary .s_image_ctn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(-60px);
}

.s_image_secondary .s_image {
  width: 100%;
}
.s_image_secondary .s_image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.s_image_secondary .s_image_detail {
  width: 100%;
  padding: 32px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s_image_secondary .s_image_detail h1 {
  font-family: BegumSans;
  font-size: 29px;
  font-weight: 400;
  line-height: 1.7;
  color: #7b7564;
  text-transform: uppercase;
  margin-bottom: 27px;
  letter-spacing: 1.5px;
}
.s_image_secondary .s_image_detail p {
  font-family: MartelSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  color: #32322f;
  margin-bottom: 21px;
}
.s_image_secondary .s_image_detail a {
  width: 226px;
  height: 63px;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .s_image_secondary .s_image_detail {
    width: 100%;
    padding: 44px 44px;
    text-align: left;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .s_image_secondary {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .s_image_secondary {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 232px;
  }
  .s_image_secondary .s_image_ctn {
    width: 100%;
    position: relative;
    flex-direction: row;
  }
  .s_image_secondary.img_left .s_image_ctn {
    justify-content: flex-start;
  }
  .s_image_secondary.img_right .s_image_ctn {
    justify-content: flex-end;
  }

  .s_image_secondary .s_image {
    width: 79%;
    padding-top: 49%;
    position: relative;
  }
  .s_image_secondary .s_image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .s_image_secondary .s_image_detail {
    width: 44%;
    padding: 58px 54px;
    z-index: 11;
    top: 91px;
    min-height: calc(100% - 34px);
    position: absolute;
    text-align: left;
  }
  .s_image_secondary.img_left .s_image_detail {
    right: 0;
  }
  .s_image_secondary.img_right .s_image_detail {
    left: 0;
  }
}

@media screen and (min-width: 1600px) {
  .s_image_secondary {
    padding-bottom: 300px;
  }
  .s_image_secondary .s_image {
    width: 79%;
    padding-top: 0;
  }
  .s_image_secondary .s_image img {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
  }
  .s_image_secondary .s_image_detail {
    width: 42%;
    padding: 108px 68px;
  }
  .s_image_secondary .s_image_detail h1 {
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 42px;
  }
  .s_image_secondary .s_image_detail p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 34px;
  }
  .s_image_secondary .s_image_detail a {
    width: 250px;
    height: 74px;
  }
}
