// section image primary
.s_image_primary {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 32px 64px;

  .s_image {
    width: 100%;
  }
  .s_image picture {
    width: 100%;
  }
  .s_image img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .s_image_detail {
    width: 100%;
    margin-bottom: 32px;
  }
  .s_image_detail h1 {
    font-family: BegumSans;
    font-size: 29px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #7b7564;
    text-transform: uppercase;
    margin-bottom: 42px;
  }
  .s_image_detail p {
    font-family: MartelSans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #32322f;
    text-align: left;
    margin-bottom: 21px;
  }
  .s_image_detail p:last-child {
    margin-bottom: 0;
  }

  .s_image_detail a {
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 1024px) {
  .s_image_primary {
    padding: 0 188px;
    justify-content: space-between;
    align-items: center;

    &.img_right {
      flex-direction: row-reverse;
    }
    &.img_left {
      flex-direction: row;
    }
    .s_image,
    .s_image_detail {
      width: calc(50% - 90px);
    }
    .s_image_detail h1 {
      font-size: 53px;
      line-height: 78px;
      margin-bottom: 68px;
    }
    .s_image_detail p {
      font-size: 19px;
      line-height: 34px;
      margin-bottom: 46px;
    }
    .s_image_detail a {
      margin-bottom: 46px;
    }
  }
}

// section image secondary
.s_image_secondary {
  padding: 0 15px 60px;
  background-color: #f9f7f0;
}
.s_image_secondary:first-child {
  margin-top: 60px;
}

.s_image_secondary .s_image_ctn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(-60px);
}

.s_image_secondary .s_image {
  width: 100%;
}
.s_image_secondary .s_image picture {
  width: 100%;
}
.s_image_secondary .s_image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.s_image_secondary .s_image_detail {
  width: 100%;
  padding: 32px;
  background-color: #fff;
  text-align: center;
}
.s_image_secondary .s_image_detail h1 {
  font-family: BegumSans;
  font-size: 29px;
  font-weight: 400;
  line-height: 42px;
  color: #7b7564;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.s_image_secondary .s_image_detail p {
  font-family: MartelSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #32322f;
  margin-bottom: 21px;
}

@media screen and (min-width: 1024px) {
  .s_image_secondary {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .s_image_secondary {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 300px;
  }
  .s_image_secondary .s_image_ctn {
    width: 100%;
    position: relative;
    flex-direction: row;
  }
  .s_image_secondary.img_left .s_image_ctn {
    justify-content: flex-start;
  }
  .s_image_secondary.img_right .s_image_ctn {
    justify-content: flex-end;
  }

  .s_image_secondary .s_image {
    width: 64%;
    padding-top: 48%;
    position: relative;
  }
  .s_image_secondary .s_image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .s_image_secondary .s_image_detail {
    width: 68%;
    padding: 110px 68px;
    z-index: 11;
    top: 106px;
    min-height: calc(100% - 38px);
    position: absolute;
    text-align: left;
  }
  .s_image_secondary.img_left .s_image_detail {
    right: 0;
  }
  .s_image_secondary.img_right .s_image_detail {
    left: 0;
  }
}

@media screen and (min-width: 1600px) {
  .s_image_secondary {
    padding-left: 134px;
    padding-right: 96px;
    padding-bottom: 300px;
  }

  .s_image_secondary .s_image {
    width: 79%;
    padding-top: 0;
  }
  .s_image_secondary .s_image img {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
  }
  .s_image_secondary .s_image_detail {
    width: 42%;
    padding: 108px 68px;
  }

  .s_image_secondary .s_image_detail h1 {
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 42px;
  }

  .s_image_secondary .s_image_detail p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 34px;
  }
}
