.s_grid_primary {
  padding-top: 50px;
  padding-bottom: 63px;
}
.s_grid_primary .grid_ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.s_grid_primary .grid_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #393939;
}
.s_grid_primary .grid_detail .subtitle {
  font-family: MartelSans;
  font-weight: 400;
  font-size: 13px;
  color: #393939;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.s_grid_primary .grid_detail .title {
  font-family: BegumSans;
  font-weight: 200;
  font-size: 27px;
  color: #7b7564;
  text-transform: uppercase;
  margin-bottom: 32px;
  line-height: 1.5;
}
.s_grid_primary .grid_detail p {
  font-family: MartelSans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #32322f;
  margin-bottom: 37px;
}
.s_grid_primary a.btn_desktop {
  display: none;
}
.s_grid_primary a.btn_mobile {
  display: flex;
  width: 100%;
  max-width: 311px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #a2c4a0;
  color: #fff;
  border-color: #a2c4a0;
}

.s_grid_primary .grid_summary {
  width: 100%;
}
.s_grid_primary .grid_summary .sum_list {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  padding-bottom: 0;
}
.s_grid_primary .grid_summary .sum_list:nth-child(2) {
  border-bottom: 1px solid #393939;
  margin-bottom: 44px;
  padding-top: 0;
  padding-bottom: 17px;
}
.s_grid_primary .grid_summary .sum_list p {
  font-family: MartelSans;
  font-weight: 200;
  font-size: 18px;
  color: #32322f;
  line-height: 1.6;
  margin-bottom: 16px;
}
.s_grid_primary .grid_summary .sum_list a {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #f5ebe4;
}
.s_grid_primary .grid_summary .sum_list a:first-child {
  border-top: 1px solid #f5ebe4;
}

@media screen and (min-width: 1024px) {
  .s_grid_primary {
    padding-top: 98px;
    padding-bottom: 70px;
  }
  .s_grid_primary .grid_ctn {
    flex-direction: row;
  }
  .s_grid_primary.detail_left .grid_ctn {
    flex-direction: row;
  }
  .s_grid_primary.detail_right .grid_ctn {
    flex-direction: row-reverse;
  }
  .s_grid_primary .grid_detail {
    width: 66%;
    border-bottom: none;
    border-right: 1px solid #393939;
    padding-right: 52px;
    padding-top: 40px;
  }
  .s_grid_primary.detail_right .grid_detail {
    border-right: none;
    border-left: 1px solid #393939;
    padding-right: 0;
    padding-left: 52px;
  }
  .s_grid_primary .grid_summary {
    width: 34%;
    display: flex;
    padding-top: 40px;
    padding-left: 48px;
    flex-direction: column;
  }
  .s_grid_primary.grid_summary_b .grid_detail {
    width: 56%;
  }
  .s_grid_primary.grid_summary_b .grid_summary {
    width: 44%;
  }
  .s_grid_primary.detail_right .grid_summary {
    padding-right: 48px;
    padding-left: 0;
  }

  .s_grid_primary .grid_detail .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .s_grid_primary .grid_detail .title {
    color: #393939;
    font-size: 30px;
    margin-bottom: 32px;
  }
  .s_grid_primary .grid_detail p {
    color: #393939;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .s_grid_primary .grid_detail a.btn {
    margin-top: 32px;
  }
  .s_grid_primary a.btn_desktop {
    display: flex;
  }
  .s_grid_primary a.btn_mobile {
    display: none;
  }

  .s_grid_primary .grid_summary .sum_list {
    margin-bottom: 0;
    border-bottom: none;
    padding-top: 0;
  }
  .s_grid_primary .grid_summary .sum_list:nth-child(2) {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .s_grid_primary .grid_summary .sum_list p {
    color: #393939;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 22px;
  }
  .s_grid_primary .grid_summary .sum_list a,
  .s_grid_primary .grid_summary .sum_list a:first-child {
    border: none;
    padding: 0;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .s_grid_primary {
  }
  .s_grid_primary .grid_ctn {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .s_grid_primary .grid_detail {
    width: 66%;
    border-bottom: none;
    border-right: 1px solid #393939;
    padding-right: 50px;
  }
  .s_grid_primary .grid_summary {
    width: 34%;
    padding: 30px 57px;
    display: flex;
    flex-direction: row;
  }
  .s_grid_primary.grid_summary_b .grid_detail {
    width: 48%;
  }
  .s_grid_primary.grid_summary_b .grid_summary {
    width: 52%;
  }

  .s_grid_primary .grid_detail .subtitle {
    font-size: 15px;
  }
  .s_grid_primary .grid_detail .title {
    font-size: 37px;
    margin-bottom: 35px;
    letter-spacing: 3.5px;
  }
  .s_grid_primary .grid_detail p {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .s_grid_primary .grid_detail a.btn {
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .s_grid_primary a.btn_desktop {
    display: flex;
  }
  .s_grid_primary a.btn_mobile {
    display: none;
  }
  .s_grid_primary .grid_summary .sum_list {
    margin-bottom: 0;
    border-bottom: none;
  }
  .s_grid_primary.grid_summary_b .grid_summary .sum_list:nth-child(1) {
    margin-right: 32px;
  }
  .s_grid_primary .grid_summary .sum_list p {
    font-size: 22px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1600px) {
  .s_grid_primary {
  }
  .s_grid_primary .grid_ctn {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .s_grid_primary .grid_detail {
    width: 66%;
    border-bottom: none;
    border-right: 1px solid #393939;
    //padding-right: 84px;
  }
  .s_grid_primary .grid_summary {
    width: 34%;
    padding: 30px 57px;
    display: flex;
  }
  .s_grid_primary.grid_summary_b .grid_detail {
    width: 48%;
  }
  .s_grid_primary.grid_summary_b .grid_summary {
    width: 52%;
  }

  .s_grid_primary .grid_detail .subtitle {
    font-size: 20px;
  }
  .s_grid_primary .grid_detail .title {
    color: #393939;
    font-size: 53px;
    margin-bottom: 50px;
  }
  .s_grid_primary .grid_detail p {
    color: #393939;
    font-size: 21px;
    margin-bottom: 44px;
  }
  .s_grid_primary .grid_detail a.btn {
    margin-top: 44px;
  }
  .s_grid_primary a.btn_desktop {
    display: flex;
  }
  .s_grid_primary a.btn_mobile {
    display: none;
  }
  .s_grid_primary .grid_summary .sum_list {
    margin-bottom: 0;
    border-bottom: none;
  }
  .s_grid_primary.grid_summary_b .grid_summary .sum_list:nth-child(1) {
    margin-right: 50px;
  }
  .s_grid_primary .grid_summary .sum_list p {
    color: #393939;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 28px;
  }
  .s_grid_primary .grid_summary .sum_list a,
  .s_grid_primary .grid_summary .sum_list a:first-child {
    margin-bottom: 42px;
  }
}
