// section banner primary
.s_banner_primary {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.banner_logo {
  position: absolute;
  top: 44px;
  left: 40px;
  z-index: 9;
}
.banner_logo a {
  display: block;
}
.banner_logo a img {
  width: 135px;
}

.banner_btn {
  display: none;
}
.banner_btn a {
}

.banner_nav {
  display: none;
}
.banner_line {
}
.banner_line.full {
}

.menu_icon_on {
  position: absolute;
  top: 45px;
  right: 40px;
  z-index: 9;
  opacity: 0.7;
  cursor: pointer;
}
.menu_icon_on img {
  width: 40px;
}

.banner_bg {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner_bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.49);
}
.banner_img {
  width: 100%;
  height: 100%;
}
.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.banner_title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 62px;
  transform: translateY(-50%);
  text-align: center;
}
.banner_title h2 {
  font-family: BegumSans;
  font-size: 37px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 1281px) {
  .banner_logo {
    top: 125px;
    left: 90px;
  }
  .banner_logo a img {
    width: 300px;
  }

  .banner_btn {
    width: 263px;
    height: 82px;
    display: block;
    position: absolute;
    top: 146px;
    right: 240px;
    border: 2px solid #fff;
    z-index: 9;
  }
  .banner_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: BegumSans;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
  }
  .banner_btn a:hover {
    background-color: #fff;
    color: #32322f;
  }

  .banner_nav {
    height: 100%;
    position: absolute;
    left: auto;
    top: 0;
    right: 115px;
    right: 162px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
  }
  .banner_line {
    width: 1px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
  }
  .banner_line::before {
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    content: "";
    float: left;
    // top: 0px;
    // left: 0px;
    // height: calc(50% - 218px);
  }
  .banner_line.full::before {
    // aftar page done
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 1.3s;
  }

  .menu_icon_on {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
  .menu_icon_on img {
    color: inherit;
  }
  .banner_bg::after {
    background-color: rgba(0, 0, 0, 0.33);
  }

  .banner_title {
    left: 183px;
    width: auto;
    padding: 0;
    text-align: left;
  }
  .banner_title h2 {
    font-size: 63px;
    line-height: 89px;
    text-align: left;
  }
}
