<div class="page_wrapper vaerelser_page first_color" data-bgcolor="#F9F7F0">

  <div class="s_banner_primary">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-04.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-04.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-04.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-04-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-04.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>Værelser på <br>Melsted Badehotel</h2>
    </div>
  </div>

  <div class="page_width bgcolor_r">
    <div class="page_ctn">

      <div class="s_text_primary ani_fade_in_up">
        <p class="ani_fade_in_up_target">Melsted Badehotel har 20 værelser med havudsigt fordelt i hotellets hovedbygning og 4 annekser, som ligger på hotellets naturskønne grund - mageligt tæt på vandkanten. Størstedelen af værelserne har egen møbleret terrasse eller balkon.</p>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_r">
    <div class="page_ctn">

      <div class="s_image_primary img_right">
        <div class="s_image">
          <picture>
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-01.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-01.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-01.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-01-small-2x.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/about/alle-vaerelser-01.jpg" title="hotel" />
          </picture>
        </div>

        <div class="s_image_detail ani_fade_in_up">
          <h1 class="ani_fade_in_up_target">I AUTENTISK <br>BADEHOTELS-STIL</h1>

          <p class="ani_fade_in_up_target">Hvert værelse er individuelt indrettet i autentisk badehotels-stil i lyse nuancer og har alle eget badeværelse og Wi-Fi. Alle værelser på Melsted Badehotel har komfortable Hästens senge og der er badekåber og hårtørrer på værelset. Hotellets og værelsernes beliggenhed er isoleret lige ned til Østersøen.</p>

          <p class="ani_fade_in_up_target">Fra dit værelse, på din terrasse eller i hotellets have møder du den unikke udsigt. Her kan du nyde stilheden kun forstyrret af havets susen og bølgernes klukken mod stranden helt tæt på.</p>

          <p class="ani_fade_in_up_target">Det er også muligt at leje sig ind i en af vores 2 ferielejeligheder i det idylliske bindingsværkshus Sandhuset, som ligger i den bagerste del af haven. Her er der plads til den store familie med stue og køkkenfaciliteter og mulighed for lidt mere privatliv.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="tertiary_slider_wrapper">
        <div class="tertiary_slider img_right">
          <div class="ts_images">
            <div class="tsi_item">
              <picture>
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-02.jpg" media="(min-width: 2000px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-02.jpg" media="(min-width: 1024px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-02.jpg" media="(min-width: 768px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-02-small-2x.jpg" media="(max-width: 768px)" />
                <img type="image/jpeg" src="img/about/alle-vaerelser-02.jpg" title="hotel" />
              </picture>
            </div>
            <div class="tsi_item">
              <picture>
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-04.jpg" media="(min-width: 2000px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-04.jpg" media="(min-width: 1024px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-04.jpg" media="(min-width: 768px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-04-small-2x.jpg" media="(max-width: 768px)" />
                <img type="image/jpeg" src="img/about/alle-vaerelser-04.jpg" title="hotel" />
              </picture>
            </div>
            <div class="tsi_item">
              <picture>
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-06.jpg" media="(min-width: 2000px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-06.jpg" media="(min-width: 1024px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-06.jpg" media="(min-width: 768px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-06-small-2x.jpg" media="(max-width: 768px)" />
                <img type="image/jpeg" src="img/about/alle-vaerelser-06.jpg" title="hotel" />
              </picture>
            </div>
          </div>

          <div class="ts_contents">
            <div class="tsc_item ani_fade_in_up">
              <h3 class="tsc_subtitle ts_stagger ani_fade_in_up_target">HOVEDBYGNING</h3>
              <h2 class="tsc_title ts_stagger ani_fade_in_up_target">Dobbeltværelse<br>med havudsigt</h2>
              <p class="ts_stagger ani_fade_in_up_target">Lyst og romantisk dobbeltværelse på 1. sal i hovedbygningen med eget badeværelse, Hästens dobbeltseng og flot havudsigt fra alle vinduer.</p>
              <div class="tsc_links">
                <a href="#" class="btn_primary ts_stagger ani_fade_in_up_target">BOOK</a>
                <a href="#" class="ts_stagger ani_fade_in_up_target">LÆS MERE</a>
              </div>
            </div>

            <div class="ts_ctrl">
              <div class="scbtn scbtn_prev tsbtn_prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="83.354" height="20.707" viewBox="0 0 83.354 20.707">
                  <g transform="translate(-1515.646 -3843.646)">
                    <line x2="82" transform="translate(1517 3854)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                    <line y1="10" x2="10" transform="translate(1516 3844)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                    <line x1="10" y1="10" transform="translate(1516 3854)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                  </g>
                </svg>
              </div>
              <div class="scbtn scbtn_next tsbtn_next">
                <svg xmlns="http://www.w3.org/2000/svg" width="83.354" height="20.482" viewBox="0 0 83.354 20.482">
                  <g transform="translate(-1653 -3843.871)">
                    <line y1="9.888" x2="9.888" transform="translate(1736 3864) rotate(180)" fill="none" stroke="#393939" stroke-width="1" />
                    <line x1="9.888" y1="9.888" transform="translate(1736 3854.112) rotate(180)" fill="none" stroke="#393939" stroke-width="1" />
                    <line x2="82" transform="translate(1653 3854)" fill="none" stroke="#393939" stroke-width="1" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="tertiary_slider_wrapper">
        <div class="tertiary_slider img_left">
          <div class="ts_images">
            <div class="tsi_item">
              <picture>
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-03.jpg" media="(min-width: 2000px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-03.jpg" media="(min-width: 1024px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-03.jpg" media="(min-width: 768px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-03-small-2x.jpg" media="(max-width: 768px)" />
                <img type="image/jpeg" src="img/about/alle-vaerelser-03.jpg" title="hotel" />
              </picture>
            </div>
            <div class="tsi_item">
              <picture>
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-05.jpg" media="(min-width: 2000px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-05.jpg" media="(min-width: 1024px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-05.jpg" media="(min-width: 768px)" />
                <source type="image/jpeg" srcset="img/about/alle-vaerelser-05-small-2x.jpg" media="(max-width: 768px)" />
                <img type="image/jpeg" src="img/about/alle-vaerelser-05.jpg" title="hotel" />
              </picture>
            </div>
            <!-- <div class="tsi_item">
          <picture>
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-07.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-07.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-07.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/about/alle-vaerelser-07-small-2x.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/about/alle-vaerelser-07.jpg" title="hotel" />
          </picture>
        </div> -->
          </div>

          <div class="ts_contents">
            <div class="tsc_item ani_fade_in_up">
              <h3 class="tsc_subtitle ts_stagger ani_fade_in_up_target">HOVEDBYGNING</h3>
              <h2 class="tsc_title ts_stagger ani_fade_in_up_target">Dobbeltværelse med <br>havudsigt og terrasse</h2>
              <p class="ts_stagger ani_fade_in_up_target">Lyst og romantisk dobbeltværelse på 1. sal i hovedbygningen med eget badeværelse, Hästens dobbeltseng og møbleret terrasse med formidabel panoramaudsigt over Øresund og idylliske Melsted Strand.</p>
              <div class="tsc_links">
                <a href="#" class="btn_primary ts_stagger ani_fade_in_up_target">BOOK</a>
                <a href="#" class="ts_stagger ani_fade_in_up_target">LÆS MERE</a>
              </div>
            </div>

            <div class="ts_ctrl">
              <div class="scbtn scbtn_prev tsbtn_prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="83.354" height="20.707" viewBox="0 0 83.354 20.707">
                  <g transform="translate(-1515.646 -3843.646)">
                    <line x2="82" transform="translate(1517 3854)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                    <line y1="10" x2="10" transform="translate(1516 3844)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                    <line x1="10" y1="10" transform="translate(1516 3854)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                  </g>
                </svg>
              </div>
              <div class="scbtn scbtn_next tsbtn_next">
                <svg xmlns="http://www.w3.org/2000/svg" width="83.354" height="20.482" viewBox="0 0 83.354 20.482">
                  <g transform="translate(-1653 -3843.871)">
                    <line y1="9.888" x2="9.888" transform="translate(1736 3864) rotate(180)" fill="none" stroke="#393939" stroke-width="1" />
                    <line x1="9.888" y1="9.888" transform="translate(1736 3854.112) rotate(180)" fill="none" stroke="#393939" stroke-width="1" />
                    <line x2="82" transform="translate(1653 3854)" fill="none" stroke="#393939" stroke-width="1" />
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>