<div class="page_wrapper badehotellet_page first_color" data-bgcolor="#F9F7F0">

  <div class="s_banner_primary">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-01.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-01.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-01.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-01-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-01.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>OM MELSTED<br>BADEJOTEL</h2>
    </div>
  </div>

  <div class="s_text_primary ani_fade_in_up">
    <p class="ani_fade_in_up_target">Melsted Badehotel er et gennemrenoveret førsteklasses badehotel med dejlige lyse værelser i individuelt design, alle med den fineste udsigt til havet. Badehotellet er suverænt placeret lige ved stranden - en dejlig sandstrand, hvilket er unikt for den ellers klippefyldte østkyst på Bornholm.</p>
  </div>

  <div class="s_image_primary img_right">
    <div class="s_image">
      <picture>
        <source type="image/jpeg" srcset="img/about/hotel-01.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/about/hotel-01.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/about/hotel-01.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/about/hotel-01-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/about/hotel-01.jpg" title="hotel" />
      </picture>
    </div>

    <div class="s_image_detail ani_fade_in_up">
      <h1 class="ani_fade_in_up_target">ET ÆGTE <br>BADEHOTEL</h1>

      <p class="ani_fade_in_up_target">Melsted Badehotel ligger lige i vandkanten ud til idylliske Melsted Strand med panoramaudsigt over Østersøen og de karakteristiske bornholmske granitklipper modsat stranden.</p>

      <p class="ani_fade_in_up_target">Nyd det særlige lys på Bornholm i solopgangen suppleret med en frisk dukkert fra badebroen. Hvis vejret tillader det kan du på terrassen nyde badehotellets overdådige morgenmadsbuffet. Herefter er der rig mulighed for at udforske Bornholm eller blive på badehotellet og slappe af i en strandstol i naturskønne omgivelser i haven eller på stranden. Senere kan du spise en lækker frokost og/eller middag i badehotellets skønne restaurant med fantastisk udsigt til havet og slutte dagen af med en solnedgangs drink på terrassen.</p>

      <p class="ani_fade_in_up_target">Melsted Badehotel ligger desuden tæt på det hyggelige fiskerleje i Melsted og i gåafstand til Gudhjem.</p>
    </div>
  </div>

  <div class="secondary_slider_wrapper">
    <div class="secondary_slider">
      <div class="secondary_slides">

        <div class="secondary_slide">
          <div class="slide_img">
            <picture>
              <source type="image/jpeg" srcset="img/slider/secondary-01.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-01.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-01.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-01.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/slider/secondary-01.jpg" title="hotel" />
            </picture>
          </div>
        </div>

        <div class="secondary_slide">
          <div class="slide_img">
            <picture>
              <source type="image/jpeg" srcset="img/slider/secondary-02.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-02.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-02.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-02-small.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/slider/secondary-02.jpg" title="hotel" />
            </picture>
          </div>
        </div>

        <div class="secondary_slide">
          <div class="slide_img">
            <picture>
              <source type="image/jpeg" srcset="img/slider/secondary-03.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-03.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-03.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-03-small.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/slider/secondary-03.jpg" title="hotel" />
            </picture>
          </div>
        </div>

        <div class="secondary_slide">
          <div class="slide_img">
            <picture>
              <source type="image/jpeg" srcset="img/slider/secondary-04.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-04.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-04.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/slider/secondary-04.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/slider/secondary-04.jpg" title="hotel" />
            </picture>
          </div>
        </div>

      </div>

      <div class="ssnav">
        <div class="ssnav_progress">
          <span></span>
        </div>

        <div class="ssnav_btns">
          <div class="scbtn scbtn_prev ssnav_btn ssnav_btn_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="83.354" height="20.707" viewBox="0 0 83.354 20.707">
              <g transform="translate(-1515.646 -3843.646)">
                <line x2="82" transform="translate(1517 3854)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                <line y1="10" x2="10" transform="translate(1516 3844)" fill="none" stroke="#c2d5c1" stroke-width="1" />
                <line x1="10" y1="10" transform="translate(1516 3854)" fill="none" stroke="#c2d5c1" stroke-width="1" />
              </g>
            </svg>
          </div>
          <div class="scbtn scbtn_next ssnav_btn ssnav_btn_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="83.354" height="20.482" viewBox="0 0 83.354 20.482">
              <g transform="translate(-1653 -3843.871)">
                <line y1="9.888" x2="9.888" transform="translate(1736 3864) rotate(180)" fill="none" stroke="#393939" stroke-width="1" />
                <line x1="9.888" y1="9.888" transform="translate(1736 3854.112) rotate(180)" fill="none" stroke="#393939" stroke-width="1" />
                <line x2="82" transform="translate(1653 3854)" fill="none" stroke="#393939" stroke-width="1" />
              </g>
            </svg>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="s_image_primary img_left secondary_slider_sec_next">
    <div class="s_image">
      <picture>
        <source type="image/jpeg" srcset="img/about/hotel-02.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/about/hotel-02.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/about/hotel-02.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/about/hotel-02-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/about/hotel-02.jpg" title="hotel" />
      </picture>
    </div>

    <div class="s_image_detail ani_fade_in_up">
      <h1 class="ani_fade_in_up_target">Faciliteter</h1>

      <p class="ani_fade_in_up_target">Melsted Badehotel fremstår flot og nyistandsat med eksklusive materialer og er et af danskernes foretrukne badehoteller. Badehotellet råder over et samlet areal på næsten 18.000 kvm, hvoraf hotellets bygninger samlet udgør ca. 1.000 kvm. Badehotellet omfatter seks bygninger, herunder hovedbygningen med 4 værelser på 1. sal og restaurant, lounge og reception i stueetagen, 4 smukke anneks bygninger med ialt 14 værelser samt et idyllisk stråtekt bondehus med med 2 skønne familielejligheder. Den store strandgrund er udlagt med kæmpe grønne arealer til afslapning og en petanquebane. Nyd udsigten til Christiansø, hjemsted for de berømte sild.</p>

      <p class="ani_fade_in_up_target">Uanset om du befinder dig i dit værelset eller i den hyggelige restaurant, er der en flot udsigt over Østersøen og de naturskønne områder omkring hotellet, inviterer til gåture i alle retninger.</p>
    </div>
  </div>

</div>