<div class="page_wrapper bornholm_med_page first_color" data-bgcolor="#F9F7F0">

  <div class="s_banner_primary">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-06.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-06.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-06.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-06.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-06.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>NEMT AT <br>KOMME TIL</h2>
    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">
      <div class="s_grid_primary detail_right">
        <div class="grid_ctn">
          <div class="grid_detail">
            <div class="s_image_primary img_top">
              <div class="s_image">
                <picture>
                  <source type="image/jpeg" srcset="img/about/express-01.jpg" media="(min-width: 2000px)" />
                  <source type="image/jpeg" srcset="img/about/express-01.jpg" media="(min-width: 1024px)" />
                  <source type="image/jpeg" srcset="img/about/express-01.jpg" media="(min-width: 768px)" />
                  <source type="image/jpeg" srcset="img/about/express-01-mobile-2x.jpg" media="(max-width: 768px)" />
                  <img type="image/jpeg" src="img/about/express-01.jpg" title="hotel" />
                </picture>

                <a class="banner_next_page_link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="9.808" height="16.875" viewBox="0 0 9.808 16.875">
                    <path d="M15.493,0l-1.37,1.37,6.1,6.1.952.969-.952.969-6.1,6.1,1.37,1.37L23.93,8.437Z" transform="translate(-14.122)" fill="#7b7564" /></svg>
                </a>
              </div>

              <div class="s_image_detail ani_fade_in_up">
                <h3 class="ani_fade_in_up_target">TRANSPORT</h3>
                <h1 class="ani_fade_in_up_target">Bornholm <br>med bil</h1>
                <p class="ani_fade_in_up_target">Vel planlagt tager det ca. 3 timer med bil/færge at komme til Bornholm fra København via Bornholmslinjens hurtigfærge fra Ystad til Rønne. I sommer-perioden er der op til 8 afgange fra Ystad og Rønne. Klik her for Bornholmslinjens plan og/eller for at booke din færgebillet.</p>

                <a class="btn_primary ani_fade_in_up_target" href="#">BOOK BILLET</a>

                <p class="ani_fade_in_up_target">Hvis køretur og færge over Sverige ikke er en mulighed, går der i sæsonen fly til Bornholm fra Aalborg, Billund og Kastrup. Vi kan være behjælpelig med at booke transport fra lufthavnen til hotellet og retur til lufthavnen.</p>
              </div>
            </div>
          </div>

          <div class="grid_summary">
            <div class="sum_list ani_fade_in_up">
              <a class="link_r active ani_fade_in_up_target" href="#">Bornholm med bil</a>
              <a class="link_r ani_fade_in_up_target" href="#">Bornholm med bUS</a>
              <a class="link_r ani_fade_in_up_target" href="#">Bornholm med fly</a>
              <a class="link_r ani_fade_in_up_target" href="#">Hotel shuttle</a>
              <a class="link_r ani_fade_in_up_target" href="#">Bornholm rundt bus</a>
              <a class="link_r ani_fade_in_up_target" href="#">Bornholm rundt cykel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>