<div class="slider-wrapper">
  <div class="slider-container">
    <div class="slider">
      <div class="slides">
        <div class="slides-bgbase">
          <div class="slides-bg"></div>
        </div>

        <section class="slide active" data-bgcolor="#6b604a">
          <div class="slide-bgcontainer">
            <div class="slide-bg" data-c="#6b604a">
              <video autoplay loop playsinline muted class="videofill mobile-vid" poster="img/banner/nav-bg.jpg">
                <source src="media/home-slider.mp4" type="video/mp4" />
                <source src="media/home-slider.webm" type="video/webm" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
              <video autoplay loop playsinline muted class="videofill desktop-vid" poster="img/banner/nav-bg.jpg">
                <source src="media/home-slider.mp4" type="video/mp4" />
                <source src="media/home-slider.webm" type="video/webm" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
            </div>
          </div>

          <!-- content -->
          <div class="slide-content">
            <div class="slide-wrapper">
              <div class="slide-title">
                <h1 class="ani-wordletters">Be Inspired by Island Artistry</h1>
              </div>
              <div class="slidegrid-content right">
                <div class="slidegrid-contentinner">
                  <p>Original. Playful. Collaborative. Take mindful steps into a new Maldives destination for the socially conscious. Re-discover your sense of wonderment and imagination on this archipelago of creativity and nature.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="slide" data-bgcolor="#365451">

          <div class="slide-bgcontainer">
            <div class="slide-bg">
              <picture class="slide-img-bg">
                <source type="image/jpeg" srcset="img/slider/slider4.jpg" media="(min-width: 1680px)" />
                <source type="image/jpeg" srcset="img/slider/slider4.jpg" media="(min-width: 1023px)" />
                <source type="image/jpeg" srcset="img/slider/slider4.jpg" media="(min-width: 768px) and (orientation: portrait)" />
                <source type="image/jpeg" srcset="img/slider/slider4.jpg" media="(max-width: 900px) and (orientation: landscape)" />
                <source type="image/jpeg" srcset="img/slider/slider4.jpg" media="(max-width: 767px) and (orientation: portrait)" />
                <img type="image/jpeg" src="img/slider/slider4.jpg" title="" />
              </picture>
            </div>
          </div>

          <!-- content -->
          <div class="slide-content">
            <div class="slide-wrapper">
              <div class="slide-title">
                <h2 class="ani-wordletters">An oasis of communal experiences</h2>
              </div>
              <div class="slidegrid-content">
                <div class="slidegrid-contentinner">
                  <p>From indulgent gastronomic experiences to organic plant-based dining; idling within a salon of thinkers to discourse with visiting artists, social experiences at Fari Islands range from the familiar to the challenging - but always an engaging experience.</p>
                </div>
                <a class="slide-link" href="#">discover the fari experience</a>
              </div>
            </div>
          </div>
          <!-- content | end -->

          <div class="ani-anchor-m"></div>
        </section>

        <section class="slide" data-bgcolor="#BEC3C8">

          <div class="slide-bgcontainer">
            <div class="slide-bg">
              <picture class="slide-img-bg">
                <source type="image/jpeg" srcset="img/slider/slider5.jpg" media="(min-width: 1680px)" />
                <source type="image/jpeg" srcset="img/slider/slider5.jpg" media="(min-width: 1023px)" />
                <source type="image/jpeg" srcset="img/slider/slider5.jpg" media="(min-width: 768px) and (orientation: portrait)" />
                <source type="image/jpeg" srcset="img/slider/slider5.jpg" media="(max-width: 900px) and (orientation: landscape)" />
                <source type="image/jpeg" srcset="img/slider/slider5.jpg" media="(max-width: 767px) and (orientation: portrait)" />
                <img type="image/jpeg" src="img/slider/slider5.jpg" title="" />
              </picture>
            </div>
          </div>

          <!-- content -->
          <div class="slide-content">
            <div class="slide-wrapper">
              <div class="slide-title">
                <h2 class="ani-wordletters">Devoted to Preserving Maldives</h2>
              </div>
              <div class="slidegrid-content right">
                <div class="slidegrid-contentinner">
                  <p>We pay homage to biodiversity in all its forms. With the onset of global warming and the bleaching of reefs, the very things we celebrate in the Maldives are under threat. We at Fari Islands believe that the biggest change comes with education and awareness. </p>
                </div>
                <a class="slide-link" href="#">discover nature amplified</a>
              </div>
            </div>
          </div>
          <!-- content | end -->

          <div class="ani-anchor-m"></div>
        </section>

        <!-- slider navigation -->
        <div class="slider-navigation">
          <div class="slider-nav-line top"></div>
          <div class="slider-nav-buttons">
            <div class="slider-nav-button active">
              <span class="snnode"></span>
              <span class="snnode-text">Slide One</span>
            </div>

            <div class="slider-nav-button">
              <span class="snnode"></span>
              <span class="snnode-text">Slide two</span>
            </div>

            <div class="slider-nav-button">
              <span class="snnode"></span>
              <span class="snnode-text">Slide three</span>
            </div>
          </div>
          <div class="slider-nav-line bottom"></div>
        </div>
        <!-- slider navigation -->
      </div>
    </div>
  </div>
</div>