<div class="primary-slider-wrapper">
  <div class="primary-slider">

    <div class="primary-slider-bgbase">
      <div class="primary-slider-bg"></div>
    </div>

    <div class="primary-slides">
      <div class="primary-slide active" data-bgcolor="#6b604a">
        <div class="primary-slide-bg">
          <video autoplay loop playsinline muted class="primary-slider-video mobile-vid" poster="img/slider/primary-02.jpg">
            <source src="media/home-slider.mp4" type="video/mp4" />
            Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
          <video autoplay loop playsinline muted class="primary-slider-video desktop-vid" poster="img/slider/primary-02.jpg">
            <source src="media/home-slider.mp4" type="video/mp4" />
            Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
        </div>

        <div class="primary-slide-content">
          <div class="primary-slide-title">
            <h1 class="ani-wordletters">FORKÆLELSE I VANDKANTEN</h1>
          </div>

          <p class="primary-slide-text">Melsted Badehotel er et gennemrenoveret førsteklasses badehotel i klassisk nordisk stil indrettet med smukke referencer til badehotellets oprindelsesperiode. Badehotellet er suverænt placeret med udsigt til øens særegne klipper og Melsted strand, der er en afsides beliggende sandstrand med både åløb, marehalm og badebro.</p>
        </div>
      </div>

      <div class="primary-slide" data-bgcolor="#000000">
        <div class="primary-slide-bg">
          <picture class="primary-slide-img">
            <source type="image/jpeg" srcset="img/slider/primary-02.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/slider/primary-02.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/slider/primary-02.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/slider/primary-02-small.jpg" media="(max-width: 768px)" />

            <!-- <source type="image/jpeg" srcset="img/slider/primary-02.jpg" media="(min-width: 768px) and (orientation: portrait)" /> -->
            <!-- <source type="image/jpeg" srcset="img/slider/primary-02.jpg" media="(max-width: 900px) and (orientation: landscape)" /> -->
            <!-- <source type="image/jpeg" srcset="img/slider/primary-02.jpg" media="(max-width: 767px) and (orientation: portrait)" /> -->
            <img type="image/jpeg" src="img/slider/primary-02.jpg" title="" />
          </picture>
        </div>

        <div class="primary-slide-content">
          <div class="primary-slide-title">
            <h1 class="ani-wordletters">På Bornholms ægte badehotel</h1>
          </div>

          <p class="primary-slide-text">Start morgenen med den karakteristiske bornholmske solopgang suppleret med en frisk dukkert fra badebroen. Hvis vejret tillader det kan du på terrassen nyde Melsted Badehotels overdådige morgenmadsbuffet. Herefter er der rig mulighed for at udforske Bornholm eller blive på badehotelet og slappe af i en strandstol i naturskønne omgivelser i haven eller på stranden.</p>

          <div class="primary-slide-links">
            <a href="#">VÆRELSER</a>
            <a href="#">BADEHOTELLET</a>
          </div>
        </div>
      </div>

      <div class="primary-slide" data-bgcolor="#ffffff">
        <div class="primary-slide-bg">
          <picture class="primary-slide-img">
            <source type="image/jpeg" srcset="img/slider/primary-03.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/slider/primary-03.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/slider/primary-03.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/slider/primary-03-small.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/slider/primary-03.jpg" title="" />
          </picture>
        </div>

        <div class="primary-slide-content">
          <div class="primary-slide-title">
            <h1 class="ani-wordletters">Midt i et pulserende ø-miljø</h1>
          </div>

          <p class="primary-slide-text">Bornholm er en fantastisk del af Danmark, som forfører med sine kridhvide sandstrande, klipperige kyst, imponerende klinter og dejlige landskab. Tilføj hertil en enestående historie, flere charmerende og hyggelige byer og et pulserende kunstnerisk miljø og en spirende gastronomisk kultur, og så er du på vej på en helt speciel ferie.</p>

          <div class="primary-slide-links">
            <a href="#">OPLEV BORNHOLM</a>
          </div>
        </div>
      </div>

      <div class="primary-slide" data-bgcolor="#000000">
        <div class="primary-slide-bg">
          <picture class="primary-slide-img">
            <source type="image/jpeg" srcset="img/slider/primary-04.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/slider/primary-04.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/slider/primary-04.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/slider/primary-04-small.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/slider/primary-04.jpg" title="" />
          </picture>
        </div>

        <div class="primary-slide-content">
          <div class="primary-slide-title">
            <h1 class="ani-wordletters">EN OPLEVELSE I NORDISKE NUANCER</h1>
          </div>

          <p class="primary-slide-text">Restaurant Melsted badehotel ligger et par skridt fra vandkanten ud til Kyststien i gåafstand til Gudhjem. Restauranten er indrettet i lyse nordiske nuancer med elegante referencer til badehotellets oprindelsesperiode i 30’erne. Det kombineret med den formidable udsigt over Østersøen og den hyggelige og uformelle atmosfære, du møder i restauranten, gør det til en hel speciel oplevelse.</p>

          <div class="primary-slide-links">
            <a href="#">BESTIL BORD</a>
            <a href="#">MENUKORT</a>
          </div>
        </div>
      </div>

      <div class="primary-slide" data-bgcolor="#ffffff">
        <div class="primary-slide-bg">
          <picture class="primary-slide-img">
            <source type="image/jpeg" srcset="img/slider/primary-05.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/slider/primary-05.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/slider/primary-05.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/slider/primary-05-small.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/slider/primary-05.jpg" title="" />
          </picture>
        </div>

        <div class="primary-slide-content">
          <div class="primary-slide-title">
            <h1 class="ani-wordletters">I Optimale rammer til fordybelse</h1>
          </div>

          <p class="primary-slide-text">Melsted Badehotel tilbyder med sin intime og afslappede atmosfære ideelle rammer til fordybelse og med den bedste beliggenhed i vandkanten, er scenen sat til kunne holde helt unikke møder og konferencer.</p>

          <div class="primary-slide-links">
            <a href="#">LÆS MERE</a>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-nav">
      <div class="banner-line top"></div>

      <div class="primary-dots">
        <span class="primary-dot active"></span>
        <span class="primary-dot"></span>
        <span class="primary-dot"></span>
        <span class="primary-dot"></span>
        <span class="primary-dot"></span>
      </div>

      <div class="banner-line bottom"></div>
    </div>

    <div class="menu-bar"></div>
  </div>
</div>