<div class="s_banner_primary">
  <!-- banner common -->
  <div class="banner_logo">
    <a href="index.html">
      <img src="img/logo/logo_white.png" alt="logo">
    </a>
  </div>

  <div class="banner_btn">
    <a href="#">BOOK VÆRELSE</a>
  </div>

  <div class="banner_nav">
    <div class="banner_line full"></div>
  </div>

  <div class="menu_icon_on">
    <img src="img/icon/menu_icon.png" alt="">
  </div>
  <!-- banner common -->

  <div class="banner_bg">
    <picture class="banner_img">
      <source type="image/jpeg" srcset="img/banner/banner-01.jpg" media="(min-width: 2000px)" />
      <source type="image/jpeg" srcset="img/banner/banner-01.jpg" media="(min-width: 1024px)" />
      <source type="image/jpeg" srcset="img/banner/banner-01.jpg" media="(min-width: 768px)" />
      <source type="image/jpeg" srcset="img/banner/banner-01-small.jpg" media="(max-width: 768px)" />
      <img type="image/jpeg" src="img/banner/banner-01.jpg" title="banner" />
    </picture>
  </div>

  <div class="banner_title">
    <h2>OM MELSTED<br>BADEJOTEL</h2>
  </div>
</div>

<div class="s_text_primary">
  <p>Melsted Badehotel er et gennemrenoveret førsteklasses badehotel med dejlige lyse værelser i individuelt design, alle med den fineste udsigt til havet. Badehotellet er suverænt placeret lige ved stranden - en dejlig sandstrand, hvilket er unikt for den ellers klippefyldte østkyst på Bornholm. </p>
</div>

<div class="s_image_primary img_right">
  <div class="s_image">
    <picture>
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(min-width: 2000px)" />
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(min-width: 1024px)" />
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(min-width: 768px)" />
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(max-width: 768px)" />
      <img type="image/jpeg" src="img/about/01.jpg" title="" />
    </picture>
  </div>

  <div class="s_image_detail">
    <h1>Oplev ægte <br>badehotel-stemning</h1>

    <p>Badehotellet er suverænt placeret lige ved stranden - en dejlig sandstrand, hvilket er unikt for den ellers klippefyldte østkyst på Bornholm.</p>

    <p>Start morgenen med den karakteristiske bornholmske solopgang suppleret med en frisk dukkert fra badebroen. Hvis vejret tillader det kan du på terrassen nyde Melsted Badehotels overdådige morgenmadsbuffet. Herefter er der rig mulighed for at udforske Bornholm eller blive på badehotellet og slappe af i en strandstol i naturskønne omgivelser i haven eller på stranden. Senere kan du spise en hyggelig frokost og/eller middag i Melsted Badehotels fantastiske restaurant med panoramaudsigt over Østersøen og slutte dagen af med en solnedgangsdrink på udsigtsterrassen.</p>

    <p>Melsted badehotel ligger desuden tæt på det idylliske fiskerleje i Melsted og i gåafstand til Gudhjem.</p>
  </div>
</div>




<div class="secondary_slider" style="padding: 160px;">
  <img src="img/slider/secondary-01.jpg" alt="">
</div>







<div class="s_image_primary img_left">
  <div class="s_image">
    <picture>
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(min-width: 2000px)" />
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(min-width: 1024px)" />
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(min-width: 768px)" />
      <source type="image/jpeg" srcset="img/about/01.jpg" media="(max-width: 768px)" />
      <img type="image/jpeg" src="img/about/01.jpg" title="" />
    </picture>
  </div>

  <div class="s_image_detail">
    <h1>Faciliteter</h1>

    <p>Melsted Badehotel fremstår flot og nyistandsat med eksklusive materialer og er et af danskernes foretrukne badehoteller. Badehotellet råder over et samlet areal på næsten 18.000 kvm, hvoraf hotellets bygninger samlet udgør ca. 1.000 kvm. Badehotellet omfatter seks bygninger, herunder hovedbygningen med 4 værelser på 1. sal og restaurant, lounge og reception i stueetagen, 4 smukke anneks bygninger med ialt 14 værelser samt et idyllisk stråtekt bondehus med med 2 skønne familielejligheder. Den store strandgrund er udlagt med kæmpe grønne arealer til afslapning og en petanquebane. Nyd udsigten til Christiansø, hjemsted for de berømte sild.</p>

    <p>Uanset om du befinder dig i dit værelset eller i den hyggelige restaurant, er der en flot udsigt over Østersøen og de naturskønne områder omkring hotellet, inviterer til gåture i alle retninger.</p>
  </div>
</div>