<div class="page_wrapper contact_page">

  <div class="s_banner_primary first_color" data-bgcolor="#F9F7F0">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-03.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-03.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-03.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-03-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-03.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>HAR DU NOGLE <br>SPØRGSMÅL?</h2>
    </div>
  </div>

  <div class="s_image_primary img_right">
    <div class="s_image">
      <picture>
        <source type="image/jpeg" srcset="img/about/contact-01.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/about/contact-01.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/about/contact-01.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/about/contact-01-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/about/contact-01.jpg" title="contact" />
      </picture>
    </div>

    <div class="s_image_detail">
      <h1>KONTAKT</h1>

      <p>Kontakt os endelig på telefon eller mail, hvis du har spørgsmål eller specielle forespørgsler/ønsker. Vi har god erfaring med, at når vi taler med dig, finder vi også sammen den bedste løsning for dig.</p>

      <p>Da vi er et sæsonhotel og kun er i stand til fysisk at tage imod reservationer ved udtjekning halvdelen af året, har vi åbnet op for at man kan reservere sit yndlingsværelse på sin foretrukne dato via vores online booking her.</p>

      <a class="btn_primary" href="#">Contact</a>

      <p>Vi er som udgangspunkt også til at træffe per telefon udenfor sæsonen på hverdage mellem kl. 10 og 14 og i receptionens åbningstid indenfor sæsonen. Skulle vi være forhindret i at tage telefonen, kan du lægge en besked og vi ringer tilbage hurtigst muligt. Vi besvarer løbende alle henvendelser på telefon, mail og kontaktformularen her, så du har ikke kontaktet os forgæves.</p>

      <p>Vi ser frem til at høre fra dig.</p>
    </div>
  </div>

  <div class="s_contact">
    <div class="contact_detail">
      <h3 class="c_subtitle">MELSTED BADEHOTEL</h3>
      <h2 class="c_title">KONTAKT OS</h2>
      <div class="c_address">
        <span>Address</span>
        <p>Postal CODE</p>
      </div>
      <div class="c_list">
        <div class="c_item">
          <span>T: </span>
          <span>+XX XXXX XXXX</span>
        </div>
        <div class="c_item">
          <span>E: </span>
          <span>Email@johndoe.com</span>
        </div>
      </div>
    </div>
    <form action="" class="contact_form" method="POST">
      <div class="c_input">
        <input id="c_navn" type="text" name="navn">
        <label for="c_navn">NAVN *</label>
      </div>
      <div class="c_input">
        <input id="c_email" type="text" name="email">
        <label for="c_email">EMAIL *</label>
      </div>
      <div class="c_input">
        <textarea name="besked" id="c_besked" rows="10"></textarea>
        <label for="c_besked">BESKED *</label>
      </div>
      <div class="c_btn">
        <button type="submit" class="btn_primary">SEND</button>
      </div>
    </form>
  </div>

</div>