<div class="page_wrapper map_page first_color" data-bgcolor="#F9F7F0">

  <div class="map_item map_item_base">
    <div class="map_item_inner">
      <div class="map_image">
        <div class="map_image_inner">
          <img src="img/map/banner.png" alt="">
        </div>
      </div>
      <div class="map_card map_card_base">
        <div class="map_card_inner">
          <div class="map_card_wrapper">
            <div class="map_card_id">
              <div class="map_card_title_area">
                <h3 class="map_card_sub_title">INTERAKTIVT KORT</h3>
                <h2 class="map_card_title">KORT OVER ALLE <br>VÆRELSER PÅ <br>MELSTED BADEHOTEL</h2>
              </div>
            </div>
            <div class="map_card_ctn">
              <div class="map_card_text">
                <p>Bevæg din mus rundt på kortet for <br>at se det enkelte værelse</p>
              </div>
            </div>
            <h2 class="map_card_title_mobile">ALLE VÆRELSER</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="map_item">
    <div class="map_item_inner">
      <div id="room-1" class="map_image">
        <div class="map_image_inner">
          <img src="img/map/base-01-small-2x.png" alt="">
        </div>
      </div>

      <div class="map_card">
        <div class="map_card_inner">
          <div class="map_card_wrapper">
            <div class="map_card_id">
              <div class="map_card_title_area">
                <h3 class="map_card_sub_title">HOVEDBYGNING</h3>
                <h2 class="map_card_title">Dobbeltværelse <br>med havudsigt</h2>
              </div>
              <div class="map_card_image">
                <img src="img/map/room-01.jpg" alt="">
              </div>
            </div>

            <div class="map_card_ctn">
              <div class="map_card_text">
                <p>Lyst og romantisk dobbeltværelse på 1. sal i hovedbygningen med eget badeværelse, Hästens dobbeltseng og flot havudsigt fra alle vinduer.</p>
              </div>

              <div class="map_card_links">
                <a class="map_card_link" href="#">BOOK</a>
                <a class="map_card_link link_rev" href="#">LÆS MERE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="map_item">
    <div class="map_item_inner">
      <div id="room-2" class="map_image">
        <div class="map_image_inner">
          <img src="img/map/base-02-small-2x.png" alt="">
        </div>
      </div>

      <div class="map_card">
        <div class="map_card_inner">
          <div class="map_card_wrapper">
            <div class="map_card_id">
              <div class="map_card_title_area">
                <h3 class="map_card_sub_title">STRAND ANNEKS</h3>
                <h2 class="map_card_title">Dobbeltværelse <br>med havudsigt</h2>
              </div>
              <div class="map_card_image">
                <img src="img/map/room-01.jpg" alt="">
              </div>
            </div>

            <div class="map_card_ctn">
              <div class="map_card_text">
                <p>Lyst og romantisk dobbeltværelse på 1. sal i hovedbygningen med eget badeværelse, Hästens dobbeltseng og flot havudsigt fra alle vinduer.</p>
              </div>

              <div class="map_card_links">
                <a class="map_card_link" href="#">BOOK</a>
                <a class="map_card_link link_rev" href="#">LÆS MERE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>