<div class="page_wrapper midtugeophold_page first_color" data-bgcolor="#F9F7F0">
  <div class="s_banner_primary">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-05.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-05.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-05.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-05-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-05.jpg" title="banner" />
      </picture>
    </div>
  </div>

  <div class="s_grid_primary sum_right">
    <div class="grid_ctn">
      <div class="grid_detail ani_fade_in_up">
        <h2 class="subtitle ani_fade_in_up_target">Ophold & kampagner</h2>
        <h1 class="title ani_fade_in_up_target">Midtugeophold <br>med 15% rabat</h1>
        <p class="ani_fade_in_up_target">Vores midtugeophold med min. 3 overnatninger er perfekt til dig, der vil helt ned i gear og have tid til at udforske Bornholm sammen med din kære.</p>
        <p class="ani_fade_in_up_target">Stik af fra hverdagen, og indloger jer på Melsted Badehotel til et par dage med god mad, skøn natur og tid til afslapning. Midtugeopholdet gælder ved indtjekning søndag, mandag og tirsdag i perioden 1. maj - 23. juni og fra 4. sept. - 23. okt og kampagnen vises automatisk i vores online bookingsystem.</p>
        <a class="btn btn_desktop btn_primary_rev ani_fade_in_up_target" href="#">BOOK OPHOLD</a>
      </div>

      <div class="grid_summary ani_fade_in_up">
        <div class="sum_list">
          <p class="ani_fade_in_up_target">Min 3. overnatninger</p>
          <p class="ani_fade_in_up_target">Forkælelse</p>
          <p class="ani_fade_in_up_target">Skøn natur</p>
          <p class="ani_fade_in_up_target">Tid til afslapning</p>
        </div>
        <a class="btn btn_mobile btn_primary_rev ani_fade_in_up_target" href="#">BOOK OPHOLD</a>
      </div>
    </div>
  </div>

</div>