<div class="page_wrapper oplev_page first_color" data-bgcolor="#F9F7F0">

  <div class="s_banner_primary">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-07.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-07.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-07.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-07-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-07.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>Ophold<br>& kampagner</h2>
    </div>
  </div>

  <div class="page_width bgcolor_r">
    <div class="page_ctn">

      <div class="s_text_primary ani_fade_in_up">
        <p class="ani_fade_in_up_target">Bornholm er en fantastisk del af Danmark, som forfører med sine kridhvide sandstrande, klipperige kyst, imponerende klinter og dejlige landskab. Med så mange interessante attraktioner kan det være svært at vælge, så her kommer vores bedste bud.</p>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_right">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-01.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-01.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-01.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-01-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/ophold-kampagner-01.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Midtugeophold <br>med 15% rabat</h1>

            <p class="ani_fade_in_up_target">Vores midtugeophold med min. 3 overnatninger er perfekt til dig, der vil helt ned i gear og have tid til at udforske Bornholm sammen med din kære.</p>

            <p class="ani_fade_in_up_target">Stik af fra hverdagen, og indloger jer på Melsted Badehotel til et par dage med god mad, skøn natur og tid til afslapning.</p>

            <a class="btn_primary ani_fade_in_up_target" href="#">LÆS MERE</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_left">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-02.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-02.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-02.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-02-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/ophold-kampagner-02.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Golfophold</h1>

            <p class="ani_fade_in_up_target">Kun ca. 5 kilometer fra Melsted Badehotel ligger Rø Golfklub, der råder over Bornhoms smukkeste golfbaner. Vi tilbyder et ophold med golf, hvor du selv bestemmer på hvilke dage og baner, du vil bruge dine greenfee.</p>

            <p class="ani_fade_in_up_target">Vi har tilrettelagt en golfpakke med overnatning, greenfees, morgenmad og banesandwich, så det bliver ekstra nemt at nyde sit golfophold hos os.</p>

            <a class="btn_primary ani_fade_in_up_target" href="#">LÆS MERE</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_right">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-03.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-03.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-03.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-03-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/ophold-kampagner-03.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Cykelophold</h1>

            <p class="ani_fade_in_up_target">Bornholm byder på masser af udendørs aktiviteter, fra vandreture til lystfiskeri, kano og cykling.</p>

            <p class="ani_fade_in_up_target">Det er vigtigt at huske, at Bornholms terræn ikke er så fladt som resten af Danmark.</p>

            <p class="ani_fade_in_up_target">Faktisk er den nordlige kyst og indlandet ret kuperet, men din ekstra indsats vil blive belønnet med de forbløffende udsigter, du vil opleve.</p>

            <a class="btn_primary ani_fade_in_up_target" href="#">LÆS MERE</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_left">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-04.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-04.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-04.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/ophold-kampagner-04-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/ophold-kampagner-04.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Yogaophold</h1>

            <p class="ani_fade_in_up_target">Kombinér et besøg på solskinsøen Bornholm med yoga, meditation, gåture og god mad. Bo helt tæt på vandet i værelse med havudsigt og egen terrasse.</p>

            <p class="ani_fade_in_up_target">Dyrk yoga i vandkanten eller i vores idylliske have med panoramaudsigt til Østersøen og hvis vejret ikke tillader det, er der mulighed for at dyrke yoga indenfor.</p>

            <p class="ani_fade_in_up_target">Læs mere om vores yogaophold her</p>

            <a class="btn_primary ani_fade_in_up_target" href="#">LÆS MERE</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>