<div class="page_wrapper oplev_page first_color" data-bgcolor="#F9F7F0">

  <div class="s_banner_primary">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-02.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-02.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-02.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-02-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-02.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>OPLEV<br>BORNHOLM</h2>
    </div>
  </div>

  <div class="page_width bgcolor_r">
    <div class="page_ctn">

      <div class="s_text_primary ani_fade_in_up">
        <p class="ani_fade_in_up_target">Bornholm er en fantastisk del af Danmark, som forfører med sine kridhvide sandstrande, klipperige kyst, imponerende klinter og dejlige landskab. Med så mange interessante attraktioner kan det være svært at vælge, så her kommer vores bedste bud.</p>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_right">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/02.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/02.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/02.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/02-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/02.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Gudhjem - “Guds hjem”</h1>

            <p class="ani_fade_in_up_target">I gåafstand fra Melsted Badehotel, fx af den maleriske gamle redningssti langs kysten, ligger Gudhjem, Danmarks eneste bjergby og en af Bornholms mest specielle byer. Kommer du i bil, så parker den på en af parkeringspladserne ovenfor byen og gå de ca. 800 meter ned til havnen via den levende hovedgade - og en anelse længere, hvis du vil opleve den smukke natur som omgiver byen. Nogle husker måske også den kendte børnefilm “Far til Fire på Bornholm” som i slutningen af 1950’erne blev optaget i Gudhjem. Gudhjem er et fast programpunkt for de fleste af Bornholms gæster og her er masser at gå på opdagelse i udover shopping og et stort udvalg til ganen - her iblandt fx et hyggeligt røgeri, lækker chokolade, store softice og skønne pandekager.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_left">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/03.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/03.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/03.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/03-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/03.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Magisk lys <br>over Gudhjem</h1>

            <p class="ani_fade_in_up_target">Gudhjem er også kendt for sit magiske lys. Pga. Gudhjems placering på Bornholms nordkyst får lyset over byen og havet en helt magisk farvetone, når solen går ned vest for øens nordspids. Både danske og internationale kunstmalere har valfartet til byen og forsøgt at portrættere dette magiske lys i deres værker.</p>

            <p class="ani_fade_in_up_target">Den mest berømte fra Gudhjem er Oluf Høst, som valgte at slå sig ned her, så han kunne være nærmere et af sine hovedmotiver - udsigten over Norresân og det magiske lys. Man kan få et indblik i hans liv og se eksempler på hans malerier i hans gamle atelier, som er i dag er Oluf Høst Museet.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_right">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/04.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/04.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/04.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/04-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/04.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Sol over Gudhjem</h1>

            <p class="ani_fade_in_up_target">Bornholms nationalret “Sol over Gudhjem” er et stykke smørrebrød med røget sild, rå æggeblomme, løg eller purløg og eventuelt radiser, men det er også navnet på den store årlige kokkekonkurrence, som løber af stablen i Gudhjem i juni måned.</p>

            <p class="ani_fade_in_up_target">Her kæmper kokke i verdensklasse om at tilberede den bedste forret, hovedret og dessert på en stor scene på havnen, hvor der er også mulighed for at udforske et stort madmarked med smagsprøver og et væld af lækre lokale råvarer.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_left">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/05.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/05.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/05.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/05-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/05.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Klippestien fra <br>Hotellet til Gudhjem</h1>

            <p class="ani_fade_in_up_target">Klippestien går fra Melsted Badehotel langs den idylliske Melsted Strand, krydser en lille bæk, kantet af 100 år gamle popler, og går så gennem Melsted, et tidligere fiskerleje med en lille havn og hyggelige gamle bindingsværkshuse. Navnet “mel” henfører til sand og mile. Engang i 1700-tallet var der en stor sandflugt, hvor mange huse blev tilsandede, et hus kaldes stadig “Huset under jorden”. Stien fortsætter gennem et overdrevsområde med græs og fyrretræer og krydser Gudhjem Camping, hvor et mindre afspærret areal beskytter en historisk vikingegravplads.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_right">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/06.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/06.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/06.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/06-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/06.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Hammershus borgruin</h1>

            <p class="ani_fade_in_up_target">Ca. 20 min nord for Melsted Badehotel ligger Nordeuropas største borgruin Hammershus, som er et af Danmarks mest betydningsfulde historiske monumenter og Bornholms mest besøgte seværdighed. I 1600-tallet var Hammershus scene for en dramatisk flugt, da den fængslede kongedatter, Leonora Christina, forsøgte at undslippe Hammershus ned langs de stejle klippevægge.</p>

            <p class="ani_fade_in_up_target">Oplev Hammershus på en helt ny måde fra det nye besøgscenter ved Hammershus, hvorfra man kan nyde en imponerende panoramaudsigt til borgruinen.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_left">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/07.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/07.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/07.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/07-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/07.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Almindingen</h1>

            <p class="ani_fade_in_up_target">Almindingen ligger blot et et kvarters kørsel fra Melsted Badehotel og er Danmarks femtestørste skov på i alt 6.000 ha., hvor bl.a. Ekkodalen, Rytterknægten og den europæiske bison kan opleves. Ekkodalen er med sine 2 km øens største sprækkedal - glem ikke at teste ekkoet her.</p>

            <p class="ani_fade_in_up_target">Rytterknægten er Bornholms højeste punkt med tårnet Kongemindet fra 1856, hvor man kan opleve en fantastisk udsigt over hele Bornholm og på klare dage endda helt til Christiansø. Gå ikke glip af en herlig frokost på den idylliske Christianshøjkroen, hvis du er på disse kanter.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">

      <div class="s_image_secondary img_right">
        <div class="s_image_ctn">
          <div class="s_image">
            <picture>
              <source type="image/jpeg" srcset="img/about/08.jpg" media="(min-width: 2000px)" />
              <source type="image/jpeg" srcset="img/about/08.jpg" media="(min-width: 1024px)" />
              <source type="image/jpeg" srcset="img/about/08.jpg" media="(min-width: 768px)" />
              <source type="image/jpeg" srcset="img/about/08-small-2x.jpg" media="(max-width: 768px)" />
              <img type="image/jpeg" src="img/about/08.jpg" title="hotel" />
            </picture>
          </div>
          <div class="s_image_detail ani_fade_in_up">
            <h1 class="ani_fade_in_up_target">Dueodde Strand</h1>

            <p class="ani_fade_in_up_target">Dueodde strand er nok Bornholms mest berømte strand og den er en af Europas bedste sandstrande. Sandet er så fint, at det er blevet brugt til timeglas. Stranden strækker sig flere kilometer på Bornholms sydspids, og en tur op i Dueodde Fyrtårn byder på det mest fantastiske kig ud over kystområdet og hele den sydlige del af Bornholm.</p>

            <p class="ani_fade_in_up_target">Stranden ligger blot ca. en halv times kørsel sydpå langs kysten fra Melsted Badehotel.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>