<div class="page_wrapper oplev_page">

  <div class="s_banner_primary first_color" data-bgcolor="#F9F7F0">
    <div class="banner_bg">
      <picture class="banner_img">
        <source type="image/jpeg" srcset="img/banner/sec-banner-02.jpg" media="(min-width: 2000px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-02.jpg" media="(min-width: 1024px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-02.jpg" media="(min-width: 768px)" />
        <source type="image/jpeg" srcset="img/banner/sec-banner-02-small-2x.jpg" media="(max-width: 768px)" />
        <img type="image/jpeg" src="img/banner/sec-banner-02.jpg" title="banner" />
      </picture>
    </div>

    <div class="banner_title">
      <h2>OPLEV<br>BORNHOLM</h2>
    </div>
  </div>

  <div class="s_text_primary">
    <p>Bornholm er en fantastisk del af Danmark, som forfører med sine kridhvide sandstrande, klipperige kyst, imponerende klinter og dejlige landskab. Med så mange interessante attraktioner kan det være svært at vælge, så her kommer vores bedste bud.</p>
  </div>

  <div class="s_image_secondary img_right">
    <div class="s_image_ctn">
      <div class="s_image">
        <picture>
          <source type="image/jpeg" srcset="img/about/02.jpg" media="(min-width: 2000px)" />
          <source type="image/jpeg" srcset="img/about/02.jpg" media="(min-width: 1024px)" />
          <source type="image/jpeg" srcset="img/about/02.jpg" media="(min-width: 768px)" />
          <source type="image/jpeg" srcset="img/about/02-small-2x.jpg" media="(max-width: 768px)" />
          <img type="image/jpeg" src="img/about/02.jpg" title="hotel" />
        </picture>
      </div>
      <div class="s_image_detail">
        <h1>Gudhjem - “Guds hjem”</h1>

        <p>I gåafstand fra Melsted Badehotel, fx af den maleriske gamle redningssti langs kysten, ligger Gudhjem, Danmarks eneste bjergby og en af Bornholms mest specielle byer. Kommer du i bil, så parker den på en af parkeringspladserne ovenfor byen og gå de ca. 800 meter ned til havnen via den levende hovedgade - og en anelse længere, hvis du vil opleve den smukke natur som omgiver byen. Nogle husker måske også den kendte børnefilm “Far til Fire på Bornholm” som i slutningen af 1950’erne blev optaget i Gudhjem. Gudhjem er et fast programpunkt for de fleste af Bornholms gæster og her er masser at gå på opdagelse i udover shopping og et stort udvalg til ganen - her iblandt fx et hyggeligt røgeri, lækker chokolade, store softice og skønne pandekager.</p>
      </div>
    </div>
  </div>

  <div class="s_image_secondary img_left">
    <div class="s_image_ctn">
      <div class="s_image">
        <picture>
          <source type="image/jpeg" srcset="img/about/03.jpg" media="(min-width: 2000px)" />
          <source type="image/jpeg" srcset="img/about/03.jpg" media="(min-width: 1024px)" />
          <source type="image/jpeg" srcset="img/about/03.jpg" media="(min-width: 768px)" />
          <source type="image/jpeg" srcset="img/about/03-small-2x.jpg" media="(max-width: 768px)" />
          <img type="image/jpeg" src="img/about/03.jpg" title="hotel" />
        </picture>
      </div>
      <div class="s_image_detail">
        <h1>Magisk lys <br>over Gudhjem</h1>

        <p>Gudhjem er også kendt for sit magiske lys. Pga. Gudhjems placering på Bornholms nordkyst får lyset over byen og havet en helt magisk farvetone, når solen går ned vest for øens nordspids. Både danske og internationale kunstmalere har valfartet til byen og forsøgt at portrættere dette magiske lys i deres værker.</p>

        <p>Den mest berømte fra Gudhjem er Oluf Høst, som valgte at slå sig ned her, så han kunne være nærmere et af sine hovedmotiver - udsigten over Norresân og det magiske lys. Man kan få et indblik i hans liv og se eksempler på hans malerier i hans gamle atelier, som er i dag er Oluf Høst Museet.</p>
      </div>
    </div>
  </div>

</div>