<div class="page_wrapper policy_page">
  <div class="bgcolor_r">
    <div class="page_ctn policy_container">
      <div class="policy_header">
        <h3>LEGAL</h3>
        <ul class="policy_nav">
          <li class="active" data-panel="privacy">
            <p>PRIVACY POLICY</p>
          </li>
          <li data-panel="disclaimer">
            <p>LEGAL DISCLAIMER</p>
          </li>
          <li data-panel="credits">
            <p>IMAGE CREDITS</p>
          </li>
        </ul>
        <hr>
      </div>
      <div class="policy_ctn">
        <div id="privacy" class="policy_panel active">
          <h3>THE BELNORD PRIVACY POLICY</h3>
          <p>The Belnord (referred to herein as “we” or “us”) is committed to protecting the privacy of the users of its website. This statement discloses our privacy practices. The purpose of this statement is to inform you:</p>
          <ul>
            <li>
              <p>What kinds of information we collect from users of “TheBelnord.com” and how the information is used by us</p>
            </li>
            <li>
              <p>Whether we disclose any user information to third parties;</p>
            </li>
            <li>
              <p>How you can access, update or delete any information that we collect about you;</p>
            </li>
            <li>
              <p>The security procedures in which we use to protect your personal information.</p>
            </li>
          </ul>
          <p>By using the Website, you're agreeing to The Belnord's Privacy Policy. We reserve the right to change, modify, add, or remove portions of our Privacy Policy at any time. Please check this page periodically for changes.</p>
          <p>If you have any questions about our Privacy Policy, please e-mail us at info@TheBelnord.com.</p>

          <h3>HOW WE COLLECT INFORMATION</h3>

          <p>You can visit TheBelnord.com without revealing any personal information. Our web servers collect the Internet Protocol addresses, but not the e-mail addresses, of visitors. This information can measure the number of visits, average time spent on the site, pages viewed, and other such statistics. In addition, you may be asked for information that identifies you, including your name, e-mail address, mailing address, zip code, telephone number, fax (collectively, "Personal Information"). You may also elect to provide such information to us by sending or responding to e-mails regarding certain listings or services offered on our Website.</p>

          <h3>HOW WE USE AND DISCLOSE YOUR INFORMATION</h3>

          <p>We collect, generate, retain and use your Personal Information for our own internal purposes in connection with the facilitation, recording and processing of any requests, communications, or interactions you may have with our Website. We also automatically collect and store statistics and other information about you and your online activities on an aggregated, non-personally identifiable basis and in a manner that may allow us or our affiliated or related entities to improve our services to you. In addition, your Personal Information may be also be used by us to provide you with information regarding our products and services. For example, we may use your e-mail address to send you special announcements and notifications of new real estate listings, services or promotions that may be of interest to you.</p>

          <h3>COOKIES</h3>

          <p>Cookies allow websites to recognize you when you return and can keep track of information specific to you. Consistent with standard practices in the Internet industry, you may occasionally receive cookies from third parties to which you link from our Website. If you prefer, you may set your browser to ask for your permission before your receive a cookie. We do not control these third party cookies, and they are not subject to this Privacy Policy.</p>

          <h3>INFORMATION SHARING AND DISCLOSURE</h3>

          <p>When you request information, we need to know your name and e-mail address. This allows us to process and fulfill your request. TheBelnord.com does not sell, trade, or rent your personal information to others. TheBelnord.com may provide aggregate statistics about our customers, sales, traffic patterns, and related site information to reputable third-party vendors, but these statistics will include no personally identifying information.</p>

          <h3>DATA SECURITY</h3>

          <p>Data security is critical to us and thus all Personal Information is held in a secured database. While it is impossible to guarantee the complete security of any computer system and the data contained therein, our vendors are required to maintain and implement robust security policies and procedures that combine with available technologies in accordance with prevailing industry standards, all of which are designed to protect the confidentiality, integrity, and availability of your Personal Information. To the extent we are provided with social security numbers or personal financial information, we comply with all applicable regulations regarding the confidentiality and safe disposal of such information.</p>

          <h3>ACCESSING, UPDATING OR DELETING INFORMATION<br> COLLECTED ABOUT YOU BY THE BELNORD</h3>

          <p>If you wish to access, update, or delete contact information or preferences, please send an email to info@TheBelnord.com. Please be aware, however, that we cannot always ensure that such corrections or deletions will immediately be made in our database.</p>
        </div>
        <div id="disclaimer" class="policy_panel">
          <h3>LEGAL DISCLAIMER</h3>
          <p>The complete offering terms are in an offering plan available from Sponsor. File No. CD16-0128. This is not an offering. Sponsor: Belnord Partners LLC, c/o 7121 Fairway Drive, Suite 410, Palm Beach Gardens, FL 33418. This advertising material is not an offer to sell nor a solicitation or an offer to buy to residents of any jurisdiction in which registration requirements have not been fulfilled. Equal Housing Opportunity.</p>
          <p>The Belnord and Exclusive Sales and Marketing Agent fully support the principles of the <a href="sample.pdf" target="_blank" rel="noopener noreferrer">Fair Housing Act and the Equal Opportunity Act.</a></p>
        </div>
        <div id="credits" class="policy_panel">
          <h3>CREDITS</h3>
          <h4>All images, design and text by DBOX, unless noted.</h4>
          <div class="desktop">
            <ul>
              <li>
                <p><i>Upper West Side, NYC,</i> by Evan Joseph</p>
              </li>
              <li>
                <p><i>Chef Masa</i> courtesy of Masa</p>
              </li>
              <li>
                <p><i>15 Central Park West, NYC,</i> courtesy of Robert A.M. Stern Architects</p>
              </li>
              <li>
                <p><i>The Four Seasons Residences, NYC</i> courtesy of Robert A.M. Stern Architects</p>
              </li>
              <li>
                <p><i>Superior Ink, NYC</i> courtesy of Robert A.M. Stern Architects</p>
              </li>
              <li>
                <p><i>The Brompton, NYC</i> courtesy of Robert A.M. Stern Architects</p>
              </li>
              <li>
                <p><i>Private Residence, Greenwich Village, NYC,</i> courtesy of Architecture at Large/ Rafael de Cárdenas</p>
              </li>
              <li>
                <p><i>Private Residence, Greenwich Village, NYC,</i> courtesy of Architecture at Large/ Rafael de Cárdenas</p>
              </li>
              <li>
                <p><i>Private Residence Glebe Place, Chelsea, London</i> courtesy of Architecture at Large/ Rafael de Cárdenas</p>
              </li>
              <li>
                <p><i>The Greenwich Lane, 155 West 11th Street, NYC</i> courtesy of Architecture at Large/ Rafael de Cárdenas</p>
              </li>
              <li>
                <p><i>English Country House </i> courtesy Hollander Design</p>
              </li>
              <li>
                <p><i>Gibson Beach, Sagaponack, NY</i> courtesy of Hollander Design</p>
              </li>
              <li>
                <p><i>On the Bluff, Southampton, NY</i> courtesy of Hollander Design</p>
              </li>
              <li>
                <p><i>City Courtyard, NYC</i> courtesy of Hollander Design</p>
              </li>
              <li>
                <p><i>Private Residence, Upper West Side, NYC,</i> courtesy of BP Architects</p>
              </li>
              <li>
                <p><i>Private Residence, Upper West Side, NYC,</i> courtesy of BP Architects</p>
              </li>
              <li>
                <p><i>Private Residence, Upper West Side, NYC,</i> courtesy of BP Architects</p>
              </li>
              <li>
                <p><i>Corbin Building, Financial District, NYC,</i> courtesy of Page Ayres Cowley Architecture</p>
              </li>
              <li>
                <p><i>Madison Avenue Bank, NYC</i> courtesy of Page Ayres Cowley Architecture</p>
              </li>
              <li>
                <p><i>Canal Street Building, NYC</i> courtesy of Page Ayres Cowley Architecture</p>
              </li>
              <li>
                <p><i>The Marquand, 11 East 68th Street, NYC,</i> courtesy of HFZ Capital Group</p>
              </li>
              <li>
                <p><i>One Madison, 23 East 22nd Street, NYC,</i> courtesy of HFZ Capital Group</p>
              </li>
              <li>
                <p><i>The Bryant, 16 West 40th Street, NYC,</i> courtesy of HFZ Capital Group</p>
              </li>
            </ul>
          </div>
          <div class="mobile">
            <ul>
              <li>
                <p><i>Upper West Side,</i> photo, ©Evan Joseph</p>
              </li>
              <li>
                <p><i>Chef Masa,</i> courtesy Masa</p>
              </li>
              <li>
                <p><i>15 Central Park West, NYC,</i> courtesy Robert A.M. Stern Architects</p>
              </li>
              <li>
                <p><i>Private Residence, Greenwich Village, NYC,</i> courtesy Architecture at Large/ Rafael de Cárdenas</p>
              </li>
              <li>
                <p><i>English Country House, South of England,</i> courtesy Hollander Design</p>
              </li>
              <li>
                <p><i>Private Residence, Upper West Side, NYC,</i> courtesy BP Architects</p>
              </li>
              <li>
                <p><i>Corbin Building, Financial District, NYC,</i> courtesy Page Ayres Cowley Architecture</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>