<div class="page_wrapper restaurant_menu_page first_color" data-bgcolor="#F9F7F0">
  <div class="restaurant_menu_wrapper">
    <div class="restaurant_menu_left">
      <h2 class="restaurant_menu_title">MENU</h2>
      <div class="restaurant_menu">
        <a href="#">FROKOST</a>
        <a href="#">KLASSIKERNE</a>
        <a href="#">MÅNEDENS MENU</a>
      </div>
      <p class="restaurant_menu_footer">Tilbage til restauranten</p>
    </div>

    <div class="restaurant_menu_right">
      <div class="swiper restaurant_menu_slider">
        <div class="swiper-wrapper restaurant_menu_slider_wrapper">
          <div class="swiper-slide restaurant_menu_slide">
            <img src="img/banner/restaurant-menu-1.png" alt="">
          </div>
          <div class="swiper-slide restaurant_menu_slide">
            <img src="img/banner/restaurant-menu-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>