<div class="page_wrapper vaerelse_visning_page first_color" data-bgcolor="#F9F7F0">

  <div class="s_vwidth_slider">
    <div class="vwidth_slider_wrapper">
      <div class="vwidth_slider swiper">
        <div class="vwidth_slides swiper-wrapper">
          <div class="vwidth_img swiper-slide">
            <img src="img/slider/vwidth-01.jpg" alt="">
          </div>
          <div class="vwidth_img swiper-slide">
            <img src="img/slider/vwidth-02.jpg" alt="">
          </div>
          <div class="vwidth_img swiper-slide">
            <img src="img/slider/vwidth-03.jpg" alt="">
          </div>
        </div>

        <div class="vwidth_slider_prev"></div>
        <div class="vwidth_slider_next"></div>
      </div>
    </div>
  </div>

  <div class="page_width bgcolor_r">
    <div class="page_ctn">
      <div class="s_grid_primary detail_left grid_summary_b">
        <div class="grid_ctn">
          <div class="grid_detail ani_fade_in_up">
            <h2 class="subtitle ani_fade_in_up_target">HOVEDBYGNING</h2>
            <h1 class="title ani_fade_in_up_target">Dobbeltværelse med <br>havudsigt og terrasse</h1>
            <p class="ani_fade_in_up_target">Lyst og romantisk dobbeltværelse på 1. sal i hovedbygningen med eget badeværelse, Hästens dobbeltseng og møbleret terrasse med formidabel panoramaudsigt over Øresund og idylliske Melsted Strand.</p>

            <a class="btn btn_desktop btn_primary_rev ani_fade_in_up_target" href="#">BOOK</a>
          </div>

          <div class="grid_summary">
            <div class="sum_list ani_fade_in_up">
              <p class="ani_fade_in_up_target">38 - 45 kvm (inkl. terrasser)</p>
              <p class="ani_fade_in_up_target">To terasser</p>
              <p class="ani_fade_in_up_target">Flot havudsigt</p>
              <p class="ani_fade_in_up_target">Hästens dobbeltseng</p>
              <p class="ani_fade_in_up_target">Eget badeværelse</p>
            </div>

            <div class="sum_list ani_fade_in_up">
              <p class="ani_fade_in_up_target">To enkeltsenge</p>
              <p class="ani_fade_in_up_target">Hårtørrer</p>
              <p class="ani_fade_in_up_target">Gratis Wifi</p>
              <p class="ani_fade_in_up_target">Kaffe maskine</p>
            </div>

            <a class="btn btn_mobile btn_primary_rev ani_fade_in_up_target" href="#">BOOK</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page_width bgcolor_p">
    <div class="page_ctn">
      <div class="s_btn_primary">
        <div class="s_btn_ctn ani_fade_in_up">
          <p class="ani_fade_in_up_target">Melsted Badehotel har 20 værelser med havudsigt fordelt i hotellets hovedbygning og 4 annekser</p>
          <a class="btn btn_primary ani_fade_in_up_target" href="#">SE ALLE VÆRELSER</a>
        </div>
      </div>
    </div>
  </div>

</div>