<!-- preloader -->
<!-- <div id="preloader" class="preloader">
  <div class="preloader-bg"></div>
  <div class="preloader-logo">
    <img src="img/icon/preloader.svg" alt="">
  </div>
</div> -->

<!-- Subscription -->
<div id="home_subscription" class="main_subscription">
  <div class="msubs_backdrop"></div>
  <div class="msubs_content">

    <div class="msubs_imgsection">
      <div class="msubs_img">
        <picture>
          <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 2000px)" />
          <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 1024px)" />
          <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 768px)" />
          <source type="image/jpeg" srcset="img/banner/subs-banner-small.jpg" media="(max-width: 768px)" />
          <img type="image/jpeg" src="img/banner/subs-banner-large.jpg" title="Melsted badehotel" />
        </picture>
      </div>
    </div>

    <div class="msubs_formsection">
      <div class="msubs_formtitle">HOME</div>
      <div class="msubs_formtext">Hold dig opdateret om eksklusive tilbud, ophold og hotel nyheder</div>
      <form action="" class="msubs_form" method="POST">
        <div class="msubs_input">
          <input id="msubs_navn" type="text" name="navn">
          <label for="msubs_navn">Navn</label>
        </div>
        <div class="msubs_input">
          <input id="msubs_email" type="text" name="email">
          <label for="msubs_email">Email</label>
        </div>
        <div class="msubs_btn">
          <button type="submit" name="msubs" class="msubs-btn">TILMELD</button>
        </div>
      </form>
    </div>

    <div class="msubs_offbtn"></div>
  </div>
</div>

<div id="menu_bar" class="menu_bar">
  <p class="menu_bar_item">2343 3448</p>
  <a class="menu_bar_item" href="#">Book</a>
  <button class="menu_bar_item mmenu_onbtn">Menu</button>
</div>

<div id="menu_button" class="menu_button">
  <div class="mmb-off">
    <div class="mbinner-text">Menu</div>
    <div class="mmb-officon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mmb-on"></div>
</div>

<div class="banner_nav">
  <div class="banner_line top"></div>

  <div class="primary-dots">
    <span class="primary-dot active">
      <span class="primary-dot-text">Forside</span>
    </span>
    <span class="primary-dot">
      <span class="primary-dot-text">Badehotellet</span>
    </span>
    <span class="primary-dot">
      <span class="primary-dot-text">Restaurant</span>
    </span>
    <span class="primary-dot">
      <span class="primary-dot-text">Bornholm</span>
    </span>
    <span class="primary-dot">
      <span class="primary-dot-text">Erhverv</span>
    </span>
  </div>

  <div class="banner_line bottom"></div>
</div>

<div class="banner_logo pslide_logo">
  <a href="index.html">
    <img src="img/logo/logo_white.png" alt="logo">
  </a>
</div>

<div class="banner_btn">
  <a href="#">BOOK VÆRELSE</a>
</div>

<!-- main viewport -->
<main class="viewport viewport-100">