<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta info -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- site identity -->
  <title>Bade Web</title>
  <link href="img/favicon/favicon.ico" rel="shortcut icon" type="image/ico" />

  <link rel="stylesheet" type="text/css" href="vendor/swiper/swiper-bundle.min.css" />

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>

<body>
  <!-- Menu -->
  <div id="main_menu" class="main-menu">
    <div class="mmenu-gradient"></div>
    <!-- <div class="mmenu-basebg"></div> -->

    <div class="mmenu-content">
      <div class="mmenu-imgsection">
        <div class="mmenu-img">
          <picture>
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/banner/nav-bg.jpg" title="" />
          </picture>
        </div>
      </div>

      <div class="mmenu-navsection">
        <nav id="main_navigation" class="main-navigation">
          <ul>
            <li><a href="alle-vaerelser.html">Værelser</a></li>
            <li><a href="ophold.html">Ophold & kampagner</a></li>
            <li><a href="badehotellet.html">Badehotellet</a></li>
            <li><a href="historie.html">Historie</a></li>
            <li><a href="om-os.html">Om os</a></li>
            <li><a href="restaurant.html">Restaurant</a></li>
            <li><a href="oplev-bornholm.html">Oplev BornholM</a></li>
            <li><a href="transport.html">Transport</a></li>
            <li><a href="erhverv.html">Erhverv</a></li>
            <li><a href="events.html">Fester & events</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
          </ul>
        </nav>

        <div class="mmenu-langcontainer">
          <a href="#">DK</a>
          <a class="active" href="#">EN</a>
        </div>
      </div>
    </div>

    <div class="mmenu-barright"></div>

    <div class="mmenu_offbtn"></div>
  </div>

  <!-- Subscription -->
  <div id="main_subscription" class="main_subscription">
    <div class="msubs_backdrop"></div>
    <div class="msubs_content">

      <div class="msubs_imgsection">
        <div class="msubs_img">
          <picture>
            <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/banner/subs-banner-small.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/banner/subs-banner-large.jpg" title="Melsted badehotel" />
          </picture>
        </div>
      </div>

      <div class="msubs_formsection">
        <div class="msubs_formtitle">NYHEDSBREV</div>
        <div class="msubs_formtext">Hold dig opdateret om eksklusive tilbud, ophold og hotel nyheder</div>
        <form action="" class="msubs_form" method="POST">
          <div class="msubs_input">
            <input id="msubs_navn" type="text" name="navn">
            <label for="msubs_navn">Navn</label>
          </div>
          <div class="msubs_input">
            <input id="msubs_email" type="text" name="email">
            <label for="msubs_email">Email</label>
          </div>
          <div class="msubs_btn">
            <button type="submit" name="msubs" class="msubs-btn">TILMELD</button>
          </div>
        </form>
      </div>

      <div class="msubs_offbtn"></div>
    </div>
  </div>

  <!-- mobile bottom menu -->
  <div id="menu_bar" class="menu_bar">
    <a class="menu_bar_item" href="tel:123-456-7890">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="59.579" height="59.549" viewBox="0 0 59.579 59.549">
          <path d="M33.028,14.011,29.481,23.4l16.81,16.7,9.384-3.367,14.4,14.5C65.6,57.357,56,61.865,46.882,58.27a38.28,38.28,0,0,1-7.868-4.1A96.082,96.082,0,0,1,15.949,31.331a30.138,30.138,0,0,1-4.805-9.906A18.319,18.319,0,0,1,12.561,8.138,22.463,22.463,0,0,1,19.005,0L33.028,14.011M18.911,4.8A17.889,17.889,0,0,0,14.846,11.4a14.019,14.019,0,0,0-.769,7.456A25.681,25.681,0,0,0,18.66,29.3,94.4,94.4,0,0,0,35.237,47.048a48.7,48.7,0,0,0,10.778,7.264,16.869,16.869,0,0,0,19.4-3.029L54.8,40.662,45.64,43.953,25.646,23.969l3.4-9.045L18.911,4.8" transform="translate(-10.493)" fill="currentColor" />
        </svg>
      </span>
      <span>CALL</span>
    </a>
    <a class="menu_bar_item" href="#">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="61.72" height="57.812" viewBox="0 0 61.72 57.812">
          <path d="M3.936,65.43H57.784V96.56H3.936Zm42.18-11.6V50.188H57.784V61.495H3.936V50.188h11.48v3.641h3.936V50.188H42.18v3.641ZM42.18,42.684v3.568H19.352V42.684H15.416v3.568H0V100.5H61.72V46.252h-15.6V42.684Z" transform="translate(0 -42.684)" fill="currentColor" />
        </svg>
      </span>
      <span>BOOK</span>
    </a>
    <a class="menu_bar_item" href="mailto:badehotel@gmail.com">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="65.498" height="43.64" viewBox="0 0 65.498 43.64">
          <path d="M3.809,12.276,32.685,27.424l.006-.012,0,.009L61.689,12.382V39.829H3.809Zm0-4.3V3.809h57.88V8.092L32.7,23.129ZM0,0V43.64H65.5V0Z" fill="currentColor" />
        </svg>
      </span>
      <span>Email</span>
    </a>
    <button class="menu_bar_item mmenu_onbtn">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="74.475" height="35.363" viewBox="0 0 74.475 35.363">
          <g transform="translate(-987.178 -2130.318)">
            <line x2="60.562" transform="translate(1001.091 2163.682)" fill="none" stroke="currentColor" stroke-width="4" />
            <line x2="74.475" transform="translate(987.178 2132.318)" fill="none" stroke="currentColor" stroke-width="4" />
            <line x2="60.562" transform="translate(1001.091 2148)" fill="none" stroke="currentColor" stroke-width="4" />
          </g>
        </svg>
      </span>
      <span>Menu</span>
    </button>
  </div>
