<div id="menu_button" class="menu_button menu_button_map">
  <div class="mmb-off">
    <div class="mbinner-text">Menu</div>
    <div class="mmb-officon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mmb-on"></div>
</div>

<div class="banner_nav banner_nav_map">
  <div class="banner_line full"></div>
</div>

<div class="banner_logo">
  <a href="index.html">
    <img src="img/logo/mb_black.png" alt="logo">
  </a>
</div>

<!-- <div class="banner_btn">
  <a href="#">BOOK VÆRELSE</a>
</div> -->

<!-- main viewport -->
<main class="viewport">