<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta info -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- site identity -->
  <title>Bade Web</title>
  <link href="img/favicon/favicon.ico" rel="shortcut icon" type="image/ico" />

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>

<body>
  <!-- preloader -->
  <!-- <div id="preloader" class="preloader">
    <div class="preloader-bg"></div>
    <div class="preloader-logo">
      <img src="img/icon/preloader.svg" alt="">
    </div>
  </div> -->

  <!-- menu icon -->
  <!-- <div id="menu_icon" class="menu_icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div> -->
  <!-- menu icon -->

  <!-- overlay menu -->
  <div id="main_menu">
    <div class="mmenu-gradient"></div>
    <div class="mmenu-basebg"></div>
    <div class="mmenu-content">
      <!-- Image -->
      <div class="mmenu-imgsection">
        <div class="mmenu-img">
          <picture class="masthead-panelimage img-bg">
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 1680px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 1023px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 768px) and (orientation: portrait)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(max-width: 900px) and (orientation: landscape)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(max-width: 767px) and (orientation: portrait)" />
            <img type="image/jpeg" src="img/banner/nav-bg.jpg" title="Home | Fari Islands" />
          </picture>
        </div>
        <div class="mmenu-imgtext">Image Caption here?</div>
      </div>
      <!-- End Image -->
      <!-- Nav -->
      <div class="mmenu-navsection">
        <nav id="main_navigation">
          <ul>
            <li><a class="link-internal" data-navibase="homepage" data-l-ref="navmain" href="./">Home</a></li>
            <li><a class="link-internal" data-navibase="experience" data-l-ref="navmain" href="experience">Fari Experience</a></li>
            <li><a class="link-internal" data-navibase="nature-amplified" data-l-ref="navmain" href="nature-amplified">Nature Amplified</a></li>
            <li><a class="link-internal" data-navibase="nature-amplified" data-l-ref="navmain" href="fari-campus">Fari Campus</a></li>
            <li><a class="link-external" target="_blank" data-navibase="E-Brochure" data-l-ref="navmain" href="https://issuu.com/capellahotelgroup/docs/fari_islands">E-Brochure</a></li>
            <li><a class="link-internal" data-navibase="contact" data-l-ref="navmain" href="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- End Nav -->
      <div class="menu_off_btn">Close</div>
    </div>

    <div class="mmenu-barright"></div>
  </div>
  <!-- overlay menu -->

  <!-- main viewport -->
  <main class="viewport">