<div id="menu_bar" class="menu_bar">
  <p class="menu_bar_item">2343 3448</p>
  <a class="menu_bar_item" href="#">Book</a>
  <button class="menu_bar_item mmenu_onbtn">Menu</button>
</div>

<!-- <div id="menu_button" class="menu_button">
  <div class="mmb-off">
    <div class="mbinner-text">Menu</div>
    <div class="mmb-officon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mmb-on"></div>
</div> -->

<!-- <div class="banner_nav">
  <div class="banner_line full"></div>
</div> -->

<div class="banner_logo">
  <a href="index.html">
    <img src="img/logo/logo_white.png" alt="logo">
  </a>
</div>

<!-- <div class="banner_btn">
  <a href="#">BOOK VÆRELSE</a>
</div> -->

<!-- main viewport -->
<main class="viewport">