<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta info -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- site identity -->
  <title>Bade Web</title>
  <link href="img/favicon/favicon.ico" rel="shortcut icon" type="image/ico" />

  <!-- custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>

<body>
  <!-- preloader -->
  <div id="preloader" class="preloader">
    <div class="preloader-bg"></div>
    <div class="preloader-logo">
      <img src="img/icon/preloader.svg" alt="">
    </div>
  </div>

  <!-- Menu -->
  <div id="main_menu" class="main-menu">
    <div class="mmenu-gradient"></div>
    <div class="mmenu-basebg"></div>

    <div class="mmenu-content">
      <div class="mmenu-imgsection">
        <div class="mmenu-img">
          <picture>
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/banner/nav-bg.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/banner/nav-bg.jpg" title="" />
          </picture>
        </div>
      </div>

      <div class="mmenu-navsection">
        <nav id="main_navigation" class="main-navigation">
          <ul>
            <li><a href="alle-vaerelser.html">Værelser</a></li>
            <li><a href="ophold.html">Ophold & kampagner</a></li>
            <li><a href="badehotellet.html">Badehotellet</a></li>
            <li><a href="historie.html">Historie</a></li>
            <li><a href="om-os.html">Om os</a></li>
            <li><a href="restaurant.html">Restaurant</a></li>
            <li><a href="oplev-bornholm.html">Oplev BornholM</a></li>
            <li><a href="transport.html">Transport</a></li>
            <li><a href="erhverv.html">Erhverv</a></li>
            <li><a href="events.html">Fester & events</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
          </ul>
        </nav>

        <div class="mmenu-langcontainer">
          <a href="#">DK</a>
          <a class="active" href="#">EN</a>
        </div>
      </div>
    </div>

    <div class="mmenu-barright"></div>
  </div>

  <!-- Subscription -->
  <div id="main_subscription" class="main_subscription">
    <div class="msubs_backdrop"></div>
    <div class="msubs_content">

      <div class="msubs_imgsection">
        <div class="msubs_img">
          <picture>
            <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 2000px)" />
            <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 1024px)" />
            <source type="image/jpeg" srcset="img/banner/subs-banner-large.jpg" media="(min-width: 768px)" />
            <source type="image/jpeg" srcset="img/banner/subs-banner-small.jpg" media="(max-width: 768px)" />
            <img type="image/jpeg" src="img/banner/subs-banner-large.jpg" title="Melsted badehotel" />
          </picture>
        </div>
      </div>

      <div class="msubs_formsection">
        <div class="msubs_formtitle">NYHEDSBREV</div>
        <div class="msubs_formtext">Hold dig opdateret om eksklusive tilbud, ophold og hotel nyheder</div>
        <form action="" class="msubs_form" method="POST">
          <div class="msubs_input">
            <input id="msubs_navn" type="text" name="navn">
            <label for="msubs_navn">Navn</label>
          </div>
          <div class="msubs_input">
            <input id="msubs_email" type="text" name="email">
            <label for="msubs_email">Email</label>
          </div>
          <div class="msubs_btn">
            <button type="submit" name="msubs">TILMELD</button>
          </div>
        </form>
      </div>

      <div class="msubs_offbtn"></div>
    </div>
  </div>