/*------- custom styles -------*/
body {
  font-family: "BegumSans", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  color: var(--txt11);
  background-color: #fcf8f3;
  background-color: #ffffff;
  position: relative;
}

// ::placeholder {
//   color: rgba(0, 0, 0, 0.3);
//   font-style: italic;
//   letter-spacing: 0.1rem;
// }

// main viewport
.viewport {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  // update
  height: auto;
}

// responsive
@media only screen and (max-width: 576px) {
}

// page wrapper
.page_wrapper {
}

// page_width
.page_width {
}
.page_ctn {
}

// slider control btn
.scbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.scbtn_prev {
}
.scbtn_next {
}
.scbtn svg {
}
.scbtn svg line {
  stroke: #c2d5c1;
  transition: stroke 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.scbtn:hover svg line {
  stroke: #393939;
}

// buttons
.btn_primary,
.btn_primary_rev {
  display: block;
  width: 229px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b7564;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: BegumSans;
  font-weight: 400;
  font-size: 15px;
  color: #7b7564;
  text-transform: uppercase;
}

.btn_primary:hover,
.btn_primary_rev {
  background-color: #c2d5c1;
  color: #ffffff;
  border-color: #c2d5c1;
}

.btn_primary_rev:hover {
  color: #7b7564;
  border-color: #7b7564;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .btn_primary {
    width: 320px;
    height: 75px;
    font-size: 21px;
  }
}

// link_r
.link_r {
}
