/*------- custom styles -------*/
body {
  font-family: BegumSans, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--txt11);
  background-color: #fcf8f3;
  background-color: #fff;
  position: relative;
}

body.menu-on {
  overflow: hidden;
}

// ::placeholder {
//   color: rgba(0, 0, 0, 0.3);
//   font-style: italic;
//   letter-spacing: 0.1rem;
// }

// main viewport
.viewport {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  // update
  height: auto;
}

// page wrapper
.page_wrapper {
}

// page_width
.page_width {
  padding-left: 32px;
  padding-right: 32px;
}
.page_ctn {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .page_width {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .page_width {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1600px) {
  .page_width {
    padding-left: 144px;
    padding-right: 144px;
  }
}

// slider control btn
.scbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.scbtn_prev {
}
.scbtn_next {
}
.scbtn svg {
  width: 54px;
}
.scbtn svg line {
  stroke: #c2d5c1;
  transition: stroke 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.scbtn:hover svg line {
  stroke: #393939;
}

@media screen and (min-width: 1280px) {
  .scbtn svg {
    width: 64px;
  }
}

@media screen and (min-width: 1600px) {
  .scbtn svg {
    width: 80px;
  }
}

// buttons
.btn_primary,
.btn_primary_rev {
  display: block;
  width: 230px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b7564;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: BegumSans;
  font-weight: 400;
  font-size: 20px;
  color: #7b7564;
  text-transform: uppercase;
}

.btn_primary:hover,
.btn_primary_rev {
  background-color: #a2c4a0;
  color: #fff;
  border-color: #a2c4a0;
}

.btn_primary_rev:hover {
  color: #7b7564;
  border-color: #7b7564;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .btn_primary {
    width: 320px;
    height: 75px;
    font-size: 21px;
  }
}

// link_r
.link_r {
  font-family: BegumSans;
  font-weight: 400;
  font-size: 17px;
  color: #b1c4b0;
  will-change: color, transform, padding-left;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.6s cubic-bezier(0.47, 0, 0.745, 0.715),
    padding-left 0.5s cubic-bezier(0.4, -0.22, 0.46, 1);
}
.link_r:hover {
  padding-left: 20px;
  color: #7b7564;
}
.link_r::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 7px;
  height: 7px;
  background-color: #7b7564;
  border-radius: 50%;
  transition-delay: 0s;
}
.link_r:hover::before {
  opacity: 1;
  transition-delay: 0.2s;
}

@media screen and (min-width: 1024px) {
  .link_r {
    font-size: 17px;
    color: #b1c4b0;
  }
  .link_r:hover {
    padding-left: 20px;
    color: #7b7564;
  }
  .link_r::before {
    transform: translate3d(0, -50%, 0);
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 1280px) {
  .link_r {
    font-size: 17px;
  }
  .link_r:hover {
    padding-left: 20px;
  }
  .link_r::before {
    transform: translate3d(0, -50%, 0);
    width: 7px;
    height: 7px;
  }
}

@media screen and (min-width: 1600px) {
  .link_r {
    font-size: 33px;
  }
  .link_r:hover {
    padding-left: 20px;
  }
  .link_r::before {
    transform: translate3d(0, -50%, 0);
    width: 7px;
    height: 7px;
  }
}

// background color
// regular, primary, secondary
.bgcolor_r {
  background-color: #ffffff;
}
.bgcolor_p {
  background-color: #f9f7f0;
}
.bgcolor_s {
  background-color: #f5ebe4;
}
