.footer {
}
.footer_primary {
}

.footer_top {
  padding-top: 37px;
  padding-bottom: 147px;
}
.footer_text {
  display: flex;
  flex-direction: column-reverse;
}
.footer_text p {
  font-family: MartelSans;
  font-size: 15px;
  font-weight: 400;
  color: #7b7564;
  line-height: 1.5;
  margin-bottom: 15px;
}
.footer_text h2 {
  font-family: BegumSans;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  color: #32322f;
  margin-bottom: 20px;
}

.footer_bottom {
  position: relative;
  padding-top: 198px;
  padding-bottom: 100px;
}
.footer_social {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 66px;
}
.footer_social_links {
  width: 100%;
}
.footer_social_links a {
  margin-right: 28px;
}
.footer_social_links a svg {
  width: 30px;
  height: 30px;
}
.footer_instagram {
  position: absolute;
  top: 0;
  left: 22px;
  transform: translateY(-36%);
  z-index: 3;
}
.footer_instagram_inner {
  display: flex;
}
.footer_instagram a {
  display: block;
  padding: 0 10px;
  margin: 0;
  width: 270px;
}
.footer_instagram a img {
  width: 100%;
  height: 84.1%;
  object-fit: cover;
  object-position: center center;
}

.footer_address {
  display: flex;
  flex-direction: column;
}
.footer_address_left {
  display: flex;
  flex-direction: column;
}
.footer_address_left h2 {
  font-family: MartelSans;
  font-size: 15px;
  font-weight: 600;
  color: #32322f;
  text-align: left;
  line-height: 22px;
  margin-bottom: 16px;
}
.footer_address_left p {
  font-family: MartelSans;
  font-size: 14px;
  font-weight: 300;
  color: #32322f;
  text-align: left;
  line-height: 35px;
  margin-bottom: 20px;
}
.footer_address_left p span {
  display: block;
}
.footer_address_left p span:nth-child(2) {
}

.footer_address_right {
  display: none;
}

.footer_btn {
}
.footer_btn a {
}
.footer_links {
}
.footer_links a,
.footer_links p {
}
.footer_links p {
}

@media screen and (min-width: 992px) {
  .footer_top {
    padding-top: 37px;
    padding-bottom: 14px;
  }
  .footer_bottom {
    position: relative;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .footer_instagram {
    transform: translateY(-42%);
    padding: 0 60px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .footer_instagram_inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 -16px;
    padding-bottom: 95px;
  }
  .footer_instagram a {
    display: block;
    padding: 0 16px;
    margin: 0;
    width: 250px;
  }
  .footer_instagram a img {
    height: 102%;
  }
}

@media only screen and (min-width: 1280px) {
  .footer_top {
    padding-top: 100px;
    padding-bottom: 10px;
  }
  .footer_text {
    margin-bottom: 0;
    flex-direction: column;
  }
  .footer_text p {
    font-size: 14px;
    color: #7b7564;
  }
  .footer_text h2 {
    font-size: 25px;
    margin-bottom: 28px;
    letter-spacing: 2.5px;
  }

  .footer_bottom {
    padding-bottom: 80px;
    padding-top: 0;
  }
  .footer_social {
  }
  .footer_social_links {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .footer_social_links a {
    margin-right: 25px;
  }
  .footer_social_links a svg {
    width: 32px;
    height: 32px;
  }

  .footer_instagram {
    transform: translateY(-42%);
    padding: 0 60px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .footer_instagram_inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 -16px;
  }
  .footer_instagram a {
    display: block;
    padding: 0 16px;
    margin: 0;
    width: 250px;
  }
  .footer_instagram a img {
    height: 102%;
  }

  .footer_address {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }
  .footer_address_left {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 340px;
  }
  .footer_address_left h2 {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .footer_address_left p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .footer_address_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 50px;
    padding-right: 100px;
    width: calc(100% - 340px);
  }

  .footer_btn {
    margin-bottom: 100px;
  }
  .footer_btn a {
    display: flex;
    width: 260px;
    height: 65px;
    justify-content: center;
    align-items: center;
    background-color: #A2C4A0;
    color: #fff;
    font-family: BegumSans;
    font-weight: 400;
    font-size: 16px;
  }

  .footer_links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .footer_links a,
  .footer_links p {
    font-family: MartelSans;
    font-size: 15px;
    font-weight: 300;
    color: #32322f;
    margin-left: 18px;
    position: relative;
  }
  .footer_links p {
  }

  .footer_links a::before {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: -10px;
    background-color: #32322f;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1600px) {
  .footer_top {
    padding-top: 100px;
    padding-bottom: 0px;
    // update
    padding-top: 100px;
    padding-bottom: 22px;
  }
  .footer_text {
    margin-bottom: 0;
    flex-direction: column;
  }
  .footer_text p {
    font-size: 16px;
    color: #7b7564;
    font-size: 20px;
  }
  .footer_text h2 {
    font-size: 25px;
    margin-bottom: 28px;
    font-size: 37px;
  }

  .footer_bottom {
    padding-bottom: 120px;
    padding-top: 0;
  }
  .footer_social {
  }
  .footer_social_links {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .footer_social_links a {
    margin-right: 34px;
  }
  .footer_social_links a svg {
    width: 42px;
    height: 42px;
  }

  .footer_instagram {
    transform: translateY(-42%);
    padding: 0 60px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .footer_instagram_inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 -16px;
    padding-bottom: 95px;
  }
  .footer_instagram a {
    display: block;
    padding: 0 16px;
    margin: 0;
    width: 334px;
  }
  .footer_instagram a img {
    height: 102%;
  }

  .footer_address {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 144px;
  }
  .footer_address_left {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 340px;
  }
  .footer_address_left h2 {
    font-size: 16px;
    margin-bottom: 32px;
    font-size: 22px;
  }
  .footer_address_left p {
    font-size: 16px;
    margin-bottom: 30px;
    font-size: 22px;
  }

  .footer_address_right {
    padding-top: 88px;
    padding-right: 100px;
    width: calc(100% - 340px);
  }

  .footer_btn {
    margin-bottom: 60px;
  }
  .footer_btn a {
    display: flex;
    width: 300px;
    height: 73px;
    width: 362px;
    height: 89px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    background-color: #c2d5c1;
    color: #fff;
    font-family: BegumSans;
    font-weight: 400;
    font-size: 18px;
  }

  .footer_links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .footer_links a,
  .footer_links p {
    font-family: MartelSans;
    font-size: 14px;
    font-weight: 300;
    color: #32322f;
    margin-left: 18px;
    position: relative;
    font-size: 20px;
  }
  .footer_links p {
  }

  .footer_links a::before {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: -10px;
    background-color: #32322f;
    transform: translateY(-50%);
    height: 18px;
  }
}
