.footer {
}
.footer_primary {
}
.footer_top {
  padding-top: 37px;
  padding-bottom: 147px;
}
.footer_top_inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -300px;
}

.footer_text {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 28px;
  width: 100%;
}
.footer_text p {
  font-family: MartelSans;
  font-size: 14px;
  font-weight: 400;
  color: #7b7564;
  line-height: 1.5;
  margin-bottom: 16px;
}
.footer_text h2 {
  font-family: BegumSans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  color: #32322f;
  margin-bottom: 16px;
}

.footer_slider_wrapper {
  width: calc(100% + 40px);
}
.footer_slider {
  position: relative;
}
.footer_slider_inner {
}
.footer_slide {
  width: 251px;
  position: relative;
}
.footer_slide a {
  display: block;
  width: 100%;
  padding-top: 106%;
  position: relative;
}
.footer_slide a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.footer_bottom {
  position: relative;
  padding-top: 200px;
  padding-bottom: 103px;
}
.footer_social {
  display: inline-block;
  margin-bottom: 65px;
}
.footer_social_links {
  display: flex;
  justify-content: flex-start;
}
.footer_social_links a {
  margin-right: 31px;
}
.footer_social_links a svg {
  width: 30px;
  height: 30px;
}

.footer_address {
  display: flex;
  flex-direction: column;
}
.footer_address_left {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}
.footer_address_left h2 {
  font-family: MartelSans;
  font-size: 15px;
  font-weight: 600;
  color: #32322f;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 16px;
}
.footer_address_left p {
  font-family: MartelSans;
  font-size: 14px;
  font-weight: 300;
  color: #32322f;
  text-align: left;
  line-height: 2;
  margin-bottom: 22px;
}
.footer_address_left p span {
  display: block;
}
.footer_address_left p span:nth-child(2) {
}

.footer_address_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer_btn {
  margin-bottom: 45px;
  width: 100%;
}
.footer_btn a {
  width: 100%;
  max-width: 294px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: BegumSans;
  font-weight: 400;
  font-size: 16px;
  background-color: #a2c4a0;
}

.footer_last_sec {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.footer_links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13px;
}
.footer_copyright,
.footer_links a {
  margin-bottom: 13px;
  display: inline-block;
  font-size: 13px;
  margin-right: 8px;
  padding-right: 8px;
  position: relative;
  font-family: MartelSans;
  font-weight: 300;
  color: #32322f;
}
.footer_copyright {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.footer_links a::after {
  content: "";
  width: 1px;
  height: 9px;
  background-color: #32322f;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.footer_links a:last-child:after {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer_top {
    padding-top: 50px;
    padding-bottom: 150px;
  }
  .footer_top_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -260px;
  }
  .footer_text {
    flex-direction: column;
    width: 320px;
    margin-bottom: 0;
    padding-top: 16px;
  }
  .footer_slider_wrapper {
    max-width: calc(100% - 350px);
    width: auto;
  }
  .footer_bottom {
    padding-top: 57px;
    padding-bottom: 100px;
  }
  .footer_social {
    margin-bottom: 95px;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1024px) {
  .footer_bottom {
    padding-bottom: 50px;
    padding-top: 54px;
  }
  .footer_social {
    margin-bottom: 100px;
  }
  .footer_address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 90px;
  }
  .footer_address_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .footer_btn {
    margin-bottom: 78px;
    display: flex;
    justify-content: flex-end;
  }
  .footer_last_sec {
    display: flex;
    flex-direction: row;
  }
  .footer_links a:last-child:after {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .footer_text p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 17px;
  }
  .footer_text h2 {
    font-size: 25px;
    margin-bottom: 28px;
    letter-spacing: 2px;
  }
  .footer_slider_wrapper {
    margin-right: -32px;
  }
  .footer_slide {
    width: 234px;
  }
  .footer_slide a {
    padding-top: 125%;
  }
  .footer_bottom {
    padding-bottom: 80px;
    padding-top: 0;
  }
  .footer_social {
    margin-bottom: 90px;
  }
  .footer_social_links {
    padding-top: 57px;
    padding-bottom: 25px;
  }
  .footer_social_links a {
    margin-right: 31px;
  }
  .footer_social_links a svg {
    width: 32px;
    height: 32px;
  }
  .footer_address_left {
    width: 380px;
  }
  .footer_address_left h2 {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .footer_address_left p {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }
  .footer_address_right {
    width: calc(100% - 380px);
  }
  .footer_btn {
    margin-bottom: 87px;
  }
  .footer_links a::after {
    height: 11px;
  }
  .footer_copyright,
  .footer_links a {
    margin-bottom: 13px;
    font-size: 15px;
    margin-right: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 1600px) {
  .footer_text {
    min-width: 360px;
    padding-top: 44px;
    width: auto;
  }
  .footer_text p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer_text h2 {
    font-size: 35px;
    margin-bottom: 28px;
    letter-spacing: 2.5px;
  }
  .footer_slide {
    width: 300px;
  }
  .footer_social_links {
    padding-top: 61px;
  }
  .footer_social_links a {
    margin-right: 37px;
  }
  .footer_social_links a svg {
    width: 40px;
    height: 40px;
  }
  .footer_address_left h2 {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .footer_address_left p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .footer_btn a {
    max-width: calc(200px + 8vw);
    height: 86px;
    font-size: 23px;
  }
  .footer_copyright,
  .footer_links a {
    font-size: 18px;
    margin-right: 12px;
    padding-right: 12px;
  }
}
