.menu_bar {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f7f0;
  z-index: 11;
  pointer-events: all;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 0 -8px 9px rgba(0, 0, 0, 0.1);
}
.loaded .menu_bar {
  opacity: 1;
  transition-delay: 0.7s;
}
.menu_bar_item {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BegumSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #393939;
  text-transform: uppercase;
}
.menu_bar_item:nth-child(2) {
  background-color: #f5ebe4;
}

@media screen and (min-width: 992px) {
  .menu_bar {
    display: none;
  }
}

// banner_back_btn
.banner_back_btn {
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  border: 2px solid #f9f7f0;
  z-index: 11;
  transition: all 0.3s ease-in-out;
  background-color: #f9f7f0;
}
.banner_back_btn::after,
.banner_back_btn::before {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #393939;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.banner_back_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.banner_back_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.banner_back_btn:hover {
  background-color: #a2c4a0;
  border-color: #a2c4a0;
}
.banner_back_btn:hover::after,
.banner_back_btn:hover::before {
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .banner_back_btn {
    right: 77px;
    top: 77px;
    border-color: #fff;
    background-color: transparent;
  }
  .banner_back_btn::after,
  .banner_back_btn::before {
    background-color: #fff;
  }
}

@media screen and (min-width: 1280px) {
  .banner_back_btn {
    right: 90px;
    top: 90px;
  }
}

@media screen and (min-width: 1600px) {
  .banner_back_btn {
    right: 104px;
    top: 104px;
  }
}

// menu btn
.menu_button {
  display: none;
  position: fixed;
  top: calc(50% - 18px);
  right: 20px;
  z-index: 21;
  pointer-events: none;
  transition: opacity 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: opacity;
  opacity: 0;
  cursor: pointer;
  // updated
  position: absolute;
  top: calc(50vh - 18px);
}
.loaded .menu_button {
  transition-delay: 0.7s;
  opacity: 1;
  pointer-events: all;
}

.menu_button .mmb-off {
  position: relative;
  padding-bottom: 10px;
  padding-right: 10px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: opacity, transform;
}
.menu_button .mbinner-text {
  font-family: BegumSans;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 3px;
  // transition: color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  // will-change: color;
}
.menu_button .mmb-officon > span {
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    width 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: background-color, width, transform;
}
.menu_button .mmb-officon > span:nth-child(1) {
  bottom: 6px;
  width: 100%;
}
.menu_button .mmb-officon > span:nth-child(2) {
  bottom: 0;
  width: 80%;
}
.menu_button .mmb-officon > span:nth-child(3),
.menu_button .mmb-officon > span:nth-child(4) {
  width: 12px;
  left: auto;
  right: 0px;
  opacity: 0;
  transform-origin: right;
}
.menu_button .mmb-officon > span:nth-child(3) {
  transform: translate3d(-5px, -5px, 0) rotate(45deg);
}
.menu_button .mmb-officon > span:nth-child(4) {
  transform: translate3d(-5px, -5px, 0) rotate(-45deg);
}

.menu_button:hover .mmb-officon > span:nth-child(1) {
  opacity: 0;
  width: 0px;
}
.menu_button:hover .mmb-officon > span:nth-child(2) {
  width: 100%;
}
.menu_button:hover .mmb-officon > span:nth-child(3) {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu_button:hover .mmb-officon > span:nth-child(4) {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu_button .mmb-on {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate3d(30px, 0, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: opacity, transform;
}
.menu_button .mmb-on::after,
.menu_button .mmb-on::before {
  width: 27px;
  height: 1px;
  content: "";
  top: 0;
  left: 0;
  background-color: #504931;
  display: block;
  transition: background-color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    width 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: background-color, width, transform;
}
.menu_button .mmb-on::before {
  transform: translate3d(-50%, 0, 0) rotateZ(-45deg);
}
.menu_button .mmb-on::after {
  transform: translate3d(-50%, 0, 0) rotateZ(45deg);
}

.menu_button:hover .mmb-on::before {
  transform: translate3d(-50%, 0, 0) rotateZ(-135deg);
}
.menu_button:hover .mmb-on::after {
  transform: translate3d(-50%, 0, 0) rotateZ(-45deg);
}

.menu-on .menu_button .mmb-off {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}
.menu-on .menu_button .mmb-on {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 992px) {
  .menu_button {
    display: block;
  }
}

// banner nav
.banner_nav {
  position: absolute;
  right: 0;
  top: auto;
  left: 0;
  bottom: 115px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.banner_line {
  display: none;
}
.banner_logo {
  position: absolute;
  top: 44px;
  left: 40px;
  z-index: 11;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.7s;
}
.loaded .banner_logo {
  opacity: 1;
}
.banner_logo a {
  display: block;
}
.banner_logo a img {
  width: 135px;
}

.banner_btn {
  display: none;
}

@media screen and (min-width: 992px) {
  .banner_nav {
    z-index: 1;
    right: 115px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    left: auto;
    bottom: 0;
  }
  .banner_line {
    width: 1px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
  }
  .banner_line::before {
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 100%;
    background-color: #fff;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  .loaded .banner_line.top::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .loaded .banner_line.bottom::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 1.3s;
  }
  .loaded .banner_line.full::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .banner_logo {
    top: 90px;
    left: 90px;
  }
  .banner_logo a img {
    width: 180px;
  }

  .banner_btn {
    display: block;
    pointer-events: none;
    width: 200px;
    height: 63px;
    position: absolute;
    top: 87px;
    right: 170px;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.7s;
    z-index: 9;
  }
  .banner_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    font-family: BegumSans;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }
  .banner_btn a:hover {
    background-color: #a2c4a0;
    border-color: #a2c4a0;
  }
  .loaded .banner_btn {
    opacity: 1;
    pointer-events: all;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
  .banner_logo a img {
    width: 220px;
  }
  .banner_btn {
    width: 224px;
    height: 68px;
    top: 100px;
    right: 206px;
  }
  .banner_btn a {
    font-size: 17px;
  }
}

@media screen and (min-width: 1600px) {
  .banner_logo {
    top: 110px;
    left: 110px;
  }
  .banner_logo a img {
    width: 300px;
  }
  .banner_btn {
    width: 263px;
    height: 82px;
    top: 146px;
    right: 240px;
  }
  .banner_btn a {
    font-size: 22px;
  }
}
