.primary-slider-wrapper,
.primary-slider {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.primary-slider {
}

.primary-slider-bgbase {
  width: 100%;
  height: 100%;
  float: left;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
  display: none;
  overflow: hidden;
}
.primary-slider-bg {
  --g1: #222;
  --g2: #aaa;
  --direction: 0deg;

  // after
  --g1: #365451;
  --g2: #6b604a;
  transform: translate(0px, 0px);

  float: left;
  position: absolute;
  width: 100%;
  height: 300%;
  left: 0px;
  top: 0px;
  background: grey;
  background: linear-gradient(
    var(--direction),
    var(--g1) 0%,
    var(--g1) 25%,
    var(--g2) 75%,
    var(--g2) 100%
  );
}

.primary-slides {
  position: relative;
}
.primary-slide {
  position: absolute;
  // padding-bottom: 60px;
  // margin-top: 60px;
  // is animating
  transition: opacity 1.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: opacity;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  color: #aa7f4c;
  width: 100vw;
  height: 100vh;
}

// .primary-slide:nth-child(1) {
//   width: 100%;
//   height: 100vh;
//   // position: relative;
//   margin-bottom: 0px;
// }

.primary-slide.active {
  opacity: 1;
}
.primary-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.primary-slide-bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
}

.primary-slider-video {
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  overflow: hidden;
  object-position: center center;
}

.primary-slider-video.mobile-vid {
  display: block;
}
.primary-slider-video.desktop-vid {
  display: none;
}

.primary-slide-img {
}

.primary-slide-content {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 40px 20px 30px;
  flex-direction: column;
  padding-top: 0;
  padding-left: 182px;
  padding-right: 0;
}
// .primary-slide-title {
//   color: #fff;

//   // 768px
//   margin-top: 25vh;
//   max-width: 400px;
//   // min 1281px
//   max-width: calc(400px + 250 * ((100vw - 1280px) / 640));
// }
.primary-slide-title {
  color: #fff;
  margin-top: 360px;
  max-width: 400px;
  max-width: calc(400px + 250 * (100vw - 1280px) / 640);
}

// .primary-slide-title h1 {
//   font-size: 1.875rem;
//   text-transform: uppercase;
//   font-weight: 100;
//   margin-bottom: 30px;
//   color: #55011d;
//   line-height: 1;
//   font-size: 1.875rem;

//   // 768px
//   font-size: 2.75rem;
//   color: #fff;
//   //1281px
//   font-size: 2.875rem;
//   font-size: calc(2.875rem + 24 * ((100vw - 1280px) / 640));
// }

.primary-slide-title h1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 30px;
  color: #55011d;
  line-height: 1;
  font-size: 1.875rem;
  font-size: 2.75rem;
  color: #fff;
  font-size: 2.875rem;
  font-size: calc(2.875rem + 24 * (100vw - 1280px) / 640);
  font-size: 64px;
  font-family: "BegumSans";
}

.primary-slide-text {
  display: none;
}

.primary-slide-links {
}
.primary-slide-links a {
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #aa7f4c;
  text-transform: uppercase;
  font-size: 0.938rem;
  font-family: "FSSiena", "Arial", sans-serif;
  color: #aa7f4c;
  background: rgba(215, 156, 108, 0);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  // 768px
  border: 1px solid #fff;
  color: #fff;
  background: rgba(215, 156, 108, 0);
}
.primary-slide-links a:hover {
}

.banner-nav {
  position: absolute;
  right: 0;
  top: auto;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.banner-line {
  display: none;
}

.primary-dots {
  height: auto;
  margin: 15px 0;
  position: relative;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
  pointer-events: none;
  display: flex;
}

.loaded .primary-dots {
  opacity: 1;
  pointer-events: all;
  transition-delay: 0.7s;
}

// .primary-dot {
//   width: 10px;
//   height: 10px;
//   background-color: #fff;
//   display: block;
//   position: relative;
//   padding: 0px 2px;

//   width: 24px;
//   height: 24px;
//   box-sizing: border-box;
//   display: block;
//   transform: translate3d(-9px, 0px, 0);
//   transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
//   -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
//   position: relative;
//   z-index: 7;
// }

.primary-dot {
  width: 34px;
  height: 34px;
  background-color: transparent;
  display: block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 7;
  border: 2px solid transparent;
  border-radius: 50%;
}

.primary-dot::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.53;
  border-radius: 50%;
}

.primary-dot.active {
  border-color: #fff;
}

.primary-dot.active::after {
  opacity: 1;
}

.menu-bar {
  transition-delay: 0.7s;
  opacity: 1;
  pointer-events: all;
  background: #fff;
  width: 100%;
  height: 75px;
  bottom: 0;
  left: 0;
  top: auto;
  transform: translate(0);
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .banner-nav {
    position: absolute;
    right: 115px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    left: auto;
  }
  .banner-line {
    width: 1px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .banner-line::before {
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    content: "";
    float: left;
    // top: 0px;
    // left: 0px;
    // height: calc(50% - 218px);
  }
  .loaded .banner-line.top::before {
    // aftar page done
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .loaded .banner-line.bottom::before {
    // aftar page done
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 1.3s;
  }
  .primary-dots {
    height: auto;
    margin: 15px 0;
    position: relative;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .primary-slide-text {
    display: block;
    width: 790px;
    font-family: MartelSans;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  .primary-slider-video.mobile-vid {
    display: none;
  }
  .primary-slider-video.desktop-vid {
    display: block;
  }
  .menu-bar {
    display: none;
  }
}
